.section__circle-container > .section__circle-container__circle {
    width: 32px;
    height: 32px;
    border-radius: 16Px;
}
.light_text {
    color: lightgrey;
}
.section__text {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding-top: 8px;
}
