{% extends "odpw_portals_layout.jinja" %}
{% set title = "Portals List" -%}

{% set active_sub_page="ui.portals" %}




{% block headcss %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css">
{% endblock %}
{% block headscripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
{% endblock %}



{% macro portalRow(portal) -%}
<tr>
    <td>{{portal.uri|get_domain}}
        <a href="{{url_for("ui.portal", portalid=portal.id, snapshot=snapshot)}}" class="ui right floated button icon">
            <i class="line chart icon"></i>
        </a>
    </td>
    <td><i class="{{portal.iso| lower}} flag "></i><span>{{portal.iso| lower}}</span></td>
    <td>{{portal.datasetCount}}</td>
    <td>{{ portal.resourceCount }}</td>
    {% for k in keys %}
        <td>{{ portal[k] | float|round(2)  }}</td>
    {% endfor %}

</tr>
{%- endmacro %}

{% macro portalTable(portals,heys, snapshot) -%}
<table class="ui single line fixed table" id="portalsTable">
    <thead>
        <tr>
            <th class="six wide">Domain</th>

            <th class="one wide">ISO</th>
            <th class="one wide">Datasets</th>
            <th class="one wide">Resourcs</th>
            {% for k in keys %}
                <td>{{ k }}</td>
            {% endfor %}

        </tr>
    </thead>
    <tbody>
        {% for p in portals %}
            {{portalRow(p)}}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="ten wide">Domain</td>

            <td class="one wide">ISO</td>
            <td class="one wide">Datasets</td>
            <td class="one wide">Resourcs</td>
            {% for k in keys %}
                <td>{{ k}}</td>
            {% endfor %}

        </tr>
    </tfoot>
</table>
{%- endmacro %}

{% macro isoTable(isos, id) -%}
<table class="ui single line fixed table" id="{{id}}">
    <thead>
        <tr>
            <th class="one wide">Country</th>
            <th class="one wide">Count</th>
            {% for k in keys %}
                <th>{{ k }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="one wide">Country</th>
            <th class="one wide">Count</th>
            {% for k in keys %}
                <td>{{ k}}</td>
            {% endfor %}
        </tr>
    </tfoot>
    <tbody>
        {% for p in isos %}
            {{isoRow(p)}}
        {% endfor %}
    </tbody>

</table>
{%- endmacro %}

{% macro isoRow(iso) -%}
<tr>
    <td><i class="{{iso.iso| lower}} flag "></i><span>{{iso.iso| lower}}</span></td>
    <td>{{iso.count}}</td>
    {% for k in keys %}
        <td>{{ iso[k] | float|round(2) }}</td>
    {% endfor %}
</tr>
{%- endmacro %}


{% macro softTable(softs, id) -%}
<table class="ui single line fixed table" id="{{id}}">
    <thead>
        <tr>
            <th class="one wide">Software</th>
            <th class="one wide">Count</th>
            {% for k in keys %}
                <th>{{ k }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p in softs %}
            {{softRow(p)}}
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="one wide">Software</th>
            <th class="one wide">Count</th>
            {% for k in keys %}
                <td>{{ k }}</td>
            {% endfor %}
        </tr>
    </tfoot>
</table>
{%- endmacro %}

{% macro softRow(soft) -%}
<tr>
    <td>{{soft.software}}</td>
    <td>{{soft.count}}</td>
    {% for k in keys %}
        <td>{{ soft[k] | float|round(2)}}</td>
    {% endfor %}
</tr>
{%- endmacro %}

{% block title %}

<div class="ui sixteen wide column">
    <div class="ui form row">
        <div class="fields">
            <h3 class="six wide field">
                <span id="pCount" class="floated right">Aggregated quality metrics</span>
            </h3>
        </div>
    </div>
</div>
{% endblock %}


{% block portalscontent %}
    <div class="ui top attached tabular menu" id="tabs">
        <a class="active item" data-tab="portals">Per Portal</a>
        <a class="item" data-tab="iso">Per Country</a>
        <a class="item" data-tab="soft">Per software</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="portals">
        {{portalTable(data.portals)}}
    </div>
    <div class="ui bottom attached tab segment" data-tab="iso">
        {{isoTable(data.iso,'isoTable')}}
    </div>
    <div class="ui bottom attached tab segment" data-tab="soft">
        {{softTable(data.soft,'softTable')}}
    </div>




{% endblock %}

{% block script %}

    {{ super() }}
    $(document).ready(function() {

        $('#tabs .item')
         .tab()
        ;
        $('#portalsTable').DataTable(
        {
            dom: 'lfrBtip',
            lengthChange: false,
            scrollX: true
        });
        $('#isoTable').DataTable(
        {
            dom: 'lfrBtip',
            lengthChange: false,
            scrollX: true
        });

        $('#softTable').DataTable(
        {
            dom: 'lfrBtip',
            lengthChange: false,
            scrollX: true
        });


    })

 {% endblock %}
