<aside class="unit-10">
    <nav id="nav-side" class="nav">
        <ul>
            {% block sidenav %}
                    
            {% endblock %}    
            
        </ul>
    </nav>
</aside>