<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
    <head>
    
        <title>Open Data Portal Watch</title>
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        {% block css %}
            <!--<link rel="stylesheet" href="{{ static_url('css/kube.min.css') }}" />-->
            <link rel="stylesheet" href="static/css/kube.min.css" />
            <link rel="stylesheet" href="static/css/style.css" />
            <link rel="stylesheet" href="static/css/font-awesome.min.css">
            <link rel="stylesheet" href="static/fonts/source-code-pro.css">
        {% endblock %}
        
        {% block scripts %}
            
            <script type="text/javascript" src="static/js/jquery.js" ></script>
            <script type="text/javascript" src="static/js/d3.min.js" ></script>
            <script type="text/javascript" src="static/js/topojson.js.1" ></script>
            <script type="text/javascript" src="static/js/vega.min.js.1" ></script>
            <script type="text/javascript" src="static/js/kube.min.js" ></script>
            <script type="text/javascript" src="static/js/jquery.dataTables.min.js" ></script>
            <script type="text/javascript" src="static/js/odpw.js" ></script>
        {% endblock %}
    </head>
        
    <body>
        <div class="units-row">
            <div class="unit-100 unit-centered">
                <!-- Header -->
                {% include "_header.jinja" %}

                <!--  Navigation Bar -->
                {% include "_mainnav.jinja" %}

                <!-- Content -->
                <div id="main" class="units-row">
                    <aside class="unit-10">
                        <nav id="nav-side" class="nav">
                            <ul>
                                {% block sidenav %}
                    
                                {% endblock %}    
                            </ul>
                        </nav>
                    </aside>
                    
                    <section class="unit-90 unit-role-left">
                        <div class="units-row end" >
                            <div class="unit-100">
                                {% block title %}{% endblock %}
                            </div>
                        </div>
                        {% block section %}
                    
                        {% endblock %}  
                    </section>
                </div>
                {% include "_footer.jinja" %}
            </div>
        </div>
        {% block pageScripts %}

        {% endblock %}
    </body>
</html>
