<div id="footer">
    <script language="JavaScript">
        <!-- Hide JavaScript...
        da = new Date(document.lastModified)    // Create a Date Object set to the last modifed date
        db = da.toGMTString()   // Convert to a String in "predictable formt"
        dc = db.split(" ")  // Split the string on spaces
        if ( eval( dc[3] ) < 1970 ) dc[3] = eval( dc[3] ) +100  // Correct any date purporting to be before 1970
        db = dc[1] + " " + dc[2] + " " + dc[3]  // Ignore day of week and combine date, month and year
        document.writeln ( "Last Updated " + db )
        // End Hiding -->
    </script>
    Copyright 2010 by Juergen Umbrich
</div>