<!-- Header -->
<header class="units-row">
    <div class="unit-80">
        <h1>
            <a href=".">Open Data Portal Watch</a>
        </h1>
    </div>
    <div class="unit-20">
        <img src="/static/images/wu.png" alt="WU Logo" />
    </div>
</header>