  <header class="units-row">
            <h1>
                <a href=".">Open Data Portal Watch</a>
                <img src="{{ static_url('images/wu.png') }}" alt="WU Logo"/>
            </h1>
        </header>