        <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#main_menu">
            <span>Menu</span>
        </div>
        <nav id="main_menu" class="navbar fullwidth tab">
            <ul>
                <li>
                    <a href="/" {% if index%} class="cur" {% endif %}>
                        <i class="fa fa-laptop fa-fw"></i>
                        System
                    </a>
                </li>
                <li>
                    <a href="/portal_details" {% if portals%} class="cur" {% endif %}>Portal(s) Stats</a>
                </li>
                <li>
                    <a href="#" {% if data%} class="cur" {% endif %}>Data</a>
                </li>
                <li>
                    <a href="#">Metrics</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>