<div class="units-row end" id="nav">
    <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#nav_main">
        <span>Menu</span>
    </div>

    <nav id="nav-main" class="nav-tabs fullwidth end">
        {% set navigation_bar = [
            ('/', 'index', 'System', 'fa-laptop'),
            ('/portal/', 'portal', 'Portal(s)','fa-server'),
            ('/data/', 'data', 'Data & API', 'fa-server'),
            ('/doc/', 'doc', 'Documentation', 'fa-info'),
            ('/about/', 'about', 'About', 'fa-info')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul>
        
            {% for href, id, caption, icon in navigation_bar %}
                <li{% if id == active_page %} class="active" {% endif%}>
                    <a href="{{ href|e }}">
                        <i class="fa {{ icon }}"></i>
                        {{ caption|e }}
                    </a>
                </li>
            {% endfor %}    
        </ul>
    </nav>
</div>
