<div class="units-row end" id="nav">
    <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#nav_main">
        <span>Menu</span>
    </div>

    <nav id="nav-main" class="nav-tabs fullwidth end">
        <ul>
            <li {% if index%} class="active" {% endif %}>
                <a href="/">
                    <i class="fa fa-laptop"></i> System
                </a>
            </li>
            <li>
                <a href="/portal/">
                    <i class="fa fa-server fa-fw"></i>
                    Portal(s) Stats
                </a>
            </li>
            <li>
                <a href="/data/" class="cur">Data</a>
            </li>
            <li>
                <a href="/metrics/">Metrics</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
        </ul>
    </nav>
</div>