<!{% extends "_system_base.jinja" %}



{% block title %}
    <h2>Portal Watch overall evolution</h2>
{% endblock %}

{% block section %}
   
   <div class="units-row end">
        <div class="unit-90 card unit-centered">
            <div class="card_header">
                <h3 class="text-centered">Portals</h3>
            </div>
            <div class="card_cnt">
                <div class="chart" id="portal_evolution_chart"> </div>
                <div class="data_table">
                    <table id="snapshotsstatus">
                        <thead>
                            <tr>
                                <th>Snapshot</th>
                                <th>Count</th>
                                <th>CKAN</th>
                                <th>Socrata</th>
                                <th>OpenDataSoft</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card_footer">
                <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                </button>
                <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                </button>
            </div>
        </div>
     </div>
     <div class="units-row end">
        <div class="unit-90 card unit-centered">
            <div class="card_header">
                <h3 class="text-centered">Datasets</h3>
            </div>
            <div class="card_cnt">
                <div class="chart" id="datasets_evolution_chart"> </div>
                <div class="data_table">
                    <table id="snapshotsstatus">
                        <thead>
                            <tr>
                                <th>Snapshot</th>
                                <th>Count</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card_footer">
                <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                </button>
                <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                </button>
            </div>
        </div>                
    </div>
    <div class="units-row end">
        <div class="unit-90 card unit-centered">
            <div class="card_header">
                <h3 class="text-centered">Resources</h3>
            </div>
            <div class="card_cnt">
                <div class="chart" id="resources_evolution_chart"> </div>
                <div class="data_table">
                    <table id="snapshotsstatus">
                        <thead>
                            <tr>
                                <th>Snapshot</th>
                                <th>Count</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="card_footer">
                <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                </button>
                <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                </button>
            </div>
        </div>                
    </div>
{% endblock %}

{% block pageScripts %}
 <script>
    
</script>
{% endblock %}