<!{% extends "_base.jinja" %}

{% block sidenav %}
            <li class="active text-centered">
                        <a href="/"> 
                            <i class="fa fa-server fa-fw"></i>
                            <p>System</p>
                        </a>
                    </li>
                    <li class=" text-centered">
                        <a href="/portals"> 
                            <i class="fa fa-cubes  fa-fw"></i>
                            <p>Portals</p>
                        </a>
                    </li>
                    <li class=" text-centered">
                        <a href="/activity">
                            <i class="fa fa-cubes  fa-fw"></i>
                            <p>Activity</p>
                        </a>
                    </li>
                    <li class=" text-centered">
                        <a href="/evolution">
                            <i class="fa fa-line-chart fa-fw"></i>
                            <p>Evolution</p>
                        </a>
                    </li>
{% endblock %}
        
      

{% block title %}
    <h2>General Overview</h2>
{% endblock %}

    {% block section %}
    <div class="units-row">
        <div class="unit-100 card">
            <div class="units-row">
                <div class="unit-20">
                    <div class="card_cnt">
                        <p id="datasets" class="card_value text-centered">
                            {{data.portals}}
                        </p>
                    </div>
                    <div class="card_header">
                        <h3 class="text-centered">Portals</h3>
                    </div>
                </div>
                <div class="unit-30">
                    <table id="softdist">

                        <thead>
                            <tr>
                                <th>Software</th>
                                <th>Count</th>
                                <th>%</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for l in data.softwaredist %}
                                <tr onclick=" test( '{{ l.software}}' )" >
                                <td> {{ l.software}}</td>
                                <td> {{ l.count}}</td>
                                <td>{{ "{0:0.2f}".format(l.perc)}}%</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr onclick=" test( 'all' )">
                                <th>all</th>
                                <th>{{ data.portals}}</th>
                                <th>100%</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="unit-50">
                    <div class="cnt">
                        Country distribution for <span class="label" id="country">all</span> portals
                        <div class="chart" id="country_chart"> </div>
                        <div class="data_table" >
                            <table id="portalInfos">
                                <thead>
                                    <tr>
                                        <td>Country</td>
                                        <td>Count</td>
                                        <td>%</td>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>

                    <div class="card_footer">
                        <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                        </button>
                        <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block pageScripts %}
 <script>
     
     var vega
     //var spec_softwaredist="/static/vega_spec/softwaredist.json";
     var spec_countryMap="/static/vega_spec/portalmap.json";
     
     var data = {{ data| tojson | safe }};
     console.log("SERVER DATA")
     console.log(data)

     function showData(el){
        console.log("Show data")
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").hide()
        parent.siblings().find(".data_table").show()
        $this.siblings(".btn_show_chart").show()
        $this.hide()       
    }
    function showChart(el){
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").show()
        parent.siblings().find(".data_table").hide()
        $this.siblings(".btn_show_data").show()
        $this.hide()   
    }
    var vega,portalInfos;


    function parse(spec, div_id, values) {
        vg.parse.spec(spec, function(chart) { 
            console.log("init")
            console.log(spec)
            vega = chart({el:div_id, renderer: "svg"});
            vega.update();
            vega.data("table").remove(function(d) { return true; }); // Remove all current values in "table"
            vega.data("table").insert(values); 
            //vis.data(data);
            vega.update();
            vega.render();
            
        });
    }


    function displayTable(table, tabledata){
        console.log("Adding data")
        console.log(tabledata)
        tabledata.forEach(function(item){
            table.row.add([item.iso3, item.count, "("+ item.perc.toFixed(2)+" %)"]);
        })
        table.draw()

    }

    function test( software ){
        portalInfos.clear()
        portalInfos.draw()
        displayTable(portalInfos, data[software+"ISOdist"])
        $("#country").text(software)
        parse(spec_countryMap,"#country_chart",data[software+"ISOdist"])
    }
     
 $(document).ready(function() {
     console.log("Doc ready")


    showChart( $('.btn_show_chart') )
    $('.btn_show_chart').click(function() {
        showChart($(this))
    });
    $('.btn_show_data').click(function() {
        showData($(this))
    });
 
    //parse(spec_softwaredist,"#softdist_chart",data.softdist)
    parse(spec_countryMap,"#country_chart",data.totalISOdist)
 
    portalInfos=$('#portalInfos').DataTable({
        "bFilter":   false,
        "lengthMenu": [[3, 10, -1], [3, 10, "All"]],
        "order": [[ 1, "desc" ]]
    });
    $(".dataTables_scrollHeadInner").css({"width":"100%"});

    $(".table ").css({"width":"100%"});
    console.log("table ready")
    displayTable(portalInfos, data.allISOdist)


     console.log('here1')
     })
 </script>
{% endblock %}
