<!{% extends "_base.jinja" %}


{% block content %}
    <div id="main" class="units-row end units-split">
        <aside class="unit-10">
            <nav id="nav-side" class="nav">
                <ul>
                    <li class="active text-centered">
                        <a href="/"> 
                            <i class="fa fa-server fa-fw"></i>
                            <p>System</p>
                        </a>
                    </li>
                    <li class=" text-centered">
                        <a href="/list/portals"> 
                            <i class="fa fa-cubes  fa-fw"></i>
                            <p>Portals</p>
                        </a>
                    </li>
                    <li class=" text-centered">
                        <a href="/activity">
                            <i class="fa fa-cubes  fa-fw"></i>
                            <p>Activity</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    
        <section class="unit-90">
            <div class="units-row">
                <h2>General Overview</h2>
                <div class="unit-30 unit-push-10 border card">
                    <div class="header"><h3>Portals in system</h3></div>
                    <div class="cnt">
                        <div class="chart" id="softdist_chart"> </div>
                        <div class="data_table">
                            <table id="softdist">
                                <thead>
                                    <tr>
                                        <th>Software</th>
                                        <th>Count</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                        <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                        </button>
                        <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                        </button>
                    </div>
                </div>
                <div class="unit-50 unit-push-10 border card">
                    <div class="header"><h3>Portal Country Map</h3></div>
                    <div class="cnt">
                        <div class="chart" id="country_chart"> </div>
                        <div class="data_table">
                            <table id="countrydist">
                                <thead>
                                    <tr>
                                        <th>Country</th>
                                        <th>Count</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                        <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                        </button>
                        <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                        </button>
                    </div>
                </div>
            </div>
            <div class="units-row">
                <h2>System activity</h2>
                <div class="unit-50 unit-push-10 border card">
                    <div class="header"><h3>Portal Country Map</h3></div>
                    <div class="cnt">
                        <div class="chart" id="snapshot_chart"> </div>
                        <div class="data_table">
                            <table id="snapshotsstatus">
                                <thead>
                                    <tr>
                                        <th>Snapshot</th>
                                        <th>Count</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                        <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                        </button>
                        <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>
                 
      
{% endblock %}

{% block pageScripts %}
 <script>
     
     var vega
     var spec_softwaredist="/static/vega_spec/softwaredist.json";
     var spec_countryMap="/static/vega_spec/portalmap.json";
     
     var data = {{ data| tojson | safe }};
     console.log("SERVER DATA")
     console.log(data)
     
     
    
     function showData(el){
         console.log("SHow data")
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").hide()
        parent.siblings().find(".data_table").show()
        $this.siblings(".btn_show_chart").show()
        $this.hide()       
    }
    function showChart(el){
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").show()
        parent.siblings().find(".data_table").hide()
        $this.siblings(".btn_show_data").show()
        $this.hide()   
    }
     
    function parse(spec, div_id, values) {
        vg.parse.spec(spec, function(chart) { 
            console.log("init")
            console.log(spec)
            vega = chart({el:div_id, renderer: "svg"});
            vega.update();
            vega.data("table").remove(function(d) { return true; }); // Remove all current values in "table"
            vega.data("table").insert(values); 
            //vis.data(data);
            vega.update();
            vega.render();
            
        });
    }
     
 $(document).ready(function() {
     console.log("Doc ready")
                
    //INIT Soft dist
    var t_softdist = $('#softdist').DataTable({
          "paging":   false,
          "info":     false,
          bFilter: false
        } );
     
    data.softdist.forEach(function(item){
        t_softdist.row.add([item.software, item.count, item.perc]).draw();
    });
    showChart( $('.btn_show_chart') )
    $('.btn_show_chart').click(function() {
        showChart($(this))
    });
    $('.btn_show_data').click(function() {
        showData($(this))
    });
 
    parse(spec_softwaredist,"#softdist_chart",data.softdist)
    parse(spec_countryMap,"#country_chart",data.iso3Map)
 
    var t_countrydist=$('#countrydist').DataTable({
        "scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false
    } );
    data.iso3dist.forEach(function(item){
        t_countrydist.row.add([item.iso3, item.count, item.perc]);
    }); 
     t_countrydist.draw();
     
    var t_pmdstatus= $('#snapshotsstatus').DataTable();
    data.pmdStatus.forEach(function(item){
        t_pmdstatus.row.add([item.snapshot, item.count, item.status]).draw();
    });   
     t_pmdstatus.draw();
  
     });

     console.log('here1')
 </script>
{% endblock %}