<!{% extends "_base.jinja" %}


{% block content %}
    <aside>
        <nav class="side">
            <ul>
                <li href="/" class="cur">
                    <a> <i class="fa fa-server fa-2x"></i>
                        <p>System</p>
                    </a>
                </li>
                <li>
                    <a href="/list/portals"> <i class="fa fa-cubes  fa-2x"></i>
                        <p>Portals</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <section class="content">
        <h2>General Overview</h2>
        <div class="units-row panel">

                <div class="unit-20 card">
                    <div class="header"><h3>Portals in system</h3></div>
                    <div class="cnt">
                        <div class="chart">
                        
                        </div>
                        <div class="data_table">
                            <table id="softdist" >
                                <thead>
                                    <tr><td>Software</td><td>#portals</td></tr>
                                </thead>
                                <tbody>
                                    {% for val in data.softdist %}
                                    <tr>
                                        <td>{{val.software}}</td>
                                        <td>{{val.count}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-smaller btn-outline btn_show_chart"><i class="fa fa-pie-chart" ></i></button>
                        <button class="btn btn-smaller btn-outline btn_show_data"><i class="fa fa-table" ></i></button>
                    </div>
                </div>
                
                <div class="unit-50 card">
                    <div class="header"><h3>Portal map</h3></div>
                    
                    <div class="cnt">
                        <div class="chart">
                        
                        </div>
                        <div class="data_table">
                         <table id="countrydist">
                                <thead>
                                    <tr><td>Country</td><td>tld</td><td>#portals</td><td>%</td></tr>
                                </thead>
                                <tbody>
                                    {% for val in data.countrydist %}
                                    <tr>
                                        <td>{{val.country}}</td>
                                        <td>{{val.tld}}</td>
                                        <td>{{val.count}}</td>
                                        <td>{{ '{0:0.2f}'.format(val.perc)}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                    </div>
                    <div class="footer">
                        <button class="btn btn-smaller btn-outline btn_show_chart"><i class="fa fa-pie-chart" ></i></button>
                        <button class="btn btn-smaller btn-outline btn_show_data"><i class="fa fa-table" ></i></button>
                    </div>
                </div>
            </div>
            <div class="units-row panel">
                <div class="unit-100 card">
                    <div class="header"><h3>System evolution</h3></div>
                    <div class="chart">
                        
                        </div>
                        <div class="data_table">
                    
                        <table id="snapshotsstatus">
                                <thead>
                                    <tr><td>Snapshot</td><td>Status</td><td>#portals</td></tr>
                                </thead>
                                <tbody>
                                    {% for val in data.pmdStatus %}
                                    <tr>
                                        <td>{{val.snapshot}}</td>
                                        <td>{{val.status}}</td>
                                        <td>{{val.count}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                
                    </div>
                    
                    <div class="footer">
                        <button class="btn btn-smaller btn-outline btn_show_chart"><i class="fa fa-pie-chart" ></i></button>
                        <button class="btn btn-smaller btn-outline btn_show_data"><i class="fa fa-table" ></i></button>
                    </div>
                </div>
            </div>           
    </section>
{% endblock %}

{% block pageScripts %}
 <script>
 
 $('#countrydist').DataTable({
     "scrollY":        "200px",
     "scrollCollapse": true,
     "paging":         false
 } );
 
 var table = $('#snapshotsstatus').DataTable({
     "columnDefs": [
         { "visible": false, "targets": 0 }
     ],
     "order": [[ 0, 'asc' ]],
     "displayLength": 25,
     "drawCallback": function ( settings ) {
         var api = this.api();
         var rows = api.rows( {page:'current'} ).nodes();
         var last=null;

         api.column(0, {page:'current'} ).data().each( function ( group, i ) {
             if ( last !== group ) {
                 $(rows).eq( i ).before(
                     '<tr class="group"><td colspan="2">'+group+'</td></tr>'
                 );

                 last = group;
             }
         } );
     }
 } );
 
 
 $('.btn_show_chart').click(function() {
	 var $this = $(this)
     var parent= $this.parent()
     parent.siblings().find(".chart").show()
     parent.siblings().find(".data_table").hide()
     console.log($this.siblings(".btn_show_data"))
     $this.siblings(".btn_show_data").show()
     $this.hide()
    });
 $('.btn_show_data').click(function() {
     var $this = $(this)
     var parent= $this.parent()
     parent.siblings().find(".chart").hide()
     parent.siblings().find(".data_table").show()
     $this.siblings(".btn_show_chart").show()
     $this.hide()
    });
 </script>
{% endblock %}