<!{% extends "_base.jinja" %}

{% block scripts %}
{{ super() }}
            <script type="text/javascript" src="{{ static_url('js/list.min.js') }}" ></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block content %}

    <aside>
<nav class="side">
    <ul>
        <li class="cur">
            <a href="/" > <i class="fa fa-server fa-2x"></i>
                <p>Overview</p>
            </a>
        </li>
        <li>
            <a href="/"> <i class="fa fa-server fa-2x"></i>
                <p>Details</p>
            </a>
        </li>
        <li>
            <a href="/"> <i class="fa fa-server fa-2x"></i>
                <p>Quality</p>
            </a>
        </li>
        <li>
            <a href="/"> <i class="fa fa-server fa-2x"></i>
                <p>Activities</p>
            </a>
        </li>
        <li>
            <a href="/list/portals/" class="cur"> <i class="fa fa-cubes  fa-2x"></i>
                <p>Evolution</p>
            </a>
        </li>
    </ul>
</nav>
</aside>
<section class="content">

    <div class="units-row">
        <div id="portalHeader" style="background:white;" class="unit-100">
            <span>Portal</span>
            <span>dummyportal </span>
            <button class="btn"><i class="fa fa-cube"></i><br></button>
            <button class="btn"><i class="fa fa-cubes"></i><br></button>
            <button class="btn"><i class="fa fa-filter"></i><br></button>
            <br>
            <span>In the system since 2014-07-23, with 5 snapshots</span>
        </div>
    </div>
    <div id="snapshots" class="units-row">
        <div id="weekPicker" class="unit-centered unit-60">
            <p>Select snapshot</p>
            <div class="arrows arrow-left"><i onclick="showPrev()">&lt;</i></div>
            <ul id="weekPicker-ul">
                    <li>
                        <code class="bar"></code>
                        <p class="week">W1</p>
                        <p class="year">2014</p>
                    </li>
                    <li>
                        <p class="bar"></p>
                        <p class="week">W2</p>
                    </li>
                    <li>
                        <p class="bar"></p>
                        <p class="week">W3</p>
                    </li>
                    <li>
                        <p class="bar"></p>
                        <p class="week">W4</p>
                    </li>
                    <li>
                        <p class="bar"></p>
                        <p class="week">W5</p>
                    </li>
                </ul>
                <div class="arrows arrow-left"><i onclick="showNext()">&gt;</i></div>
            </div>
    </div>
    <div class="units-row">
        <div class="unit-50 unit-push-20">t</div>
        <div class="unit-30">t</div>    
    </div>
</section>
    
</div>
{% endblock %}

{% block pageScripts %}
    <script>
   $(function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
    </script>
{% endblock %}