<!{% extends "_base.jinja" %}

{% block scripts %}
{{ super() }}
            <script type="text/javascript" src="{{ static_url('js/list.min.js') }}" ></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}


{% block sidenav %}
                <li class="active">
                    <a href="/portal/{{portalID}}/info/{{snapshot}}" > <i class="fa fa-server fa-2x"></i>
                        <p>Overview</p>
                    </a>
                </li>
                <li>
                    <a href="/portal/{{portalID}}/details/{{snapshot}}"> <i class="fa fa-server fa-2x"></i>
                        <p>Details</p>
                    </a>
                </li>
                <li>
                    <a href="/portal/{{portalID}}/quality/{{snapshot}}"> <i class="fa fa-server fa-2x"></i>
                        <p>Quality</p>
                    </a>
                </li>
                <li>
                    <a href="/portal/{{portalID}}/activity/{{snapshot}}"> <i class="fa fa-server fa-2x"></i>
                        <p>Activities</p>
                    </a>
                </li>
                <li>
                    <a href="/portal/{{portalID}}/evolution/{{snapshot}}" class="cur"> <i class="fa fa-cubes  fa-2x"></i>
                        <p>Evolution</p>
                    </a>
                </li>
{% endblock %}
    
{% block section %}
    <div class="units-row">
            <form onsubmit="this.action='/portal/'+this.selectportal.value+'/details/'+this.selectsnapshot.value;">
                <div class="unit-70">
                    <select id="selectportal" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                        {% for portal in data.portalSnapshots %}
                            <option value="{{portal}}">{{portal}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="unit-20">
                    <select id="selectsnapshot" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                    </select>
                </div>
                <div class="unit-10">
                    <button class="btn">go</button>
                </div>
            </form>
            </div>
            <h2>General Overview</h2>
            <div class="units-row end">
                
                
                <div class="unit-33 card unit-padding">
                    <div class="card_header">
                        <h3 class="text-centered">Datasets</h3>
                    </div>
                    <div class="card_cnt">
                        <p id="datasets" class="card_value text-centered">
                        {{ data.datasetsumreporter[0]['Value'] }}
                        </p>
                    </div>
                    <div class="card_footer"></div>
                </div>
                
                <div class="unit-33 card unit-padding">
                    <div class="card_header">
                        <h3 class="text-centered">Resources</h3>
                    </div>
                    <div class="card_cnt">
                        <p id="resources" class="card_value text-centered">
                            {{ data.resourcecountreporter.total }}
                        </p>
                    </div>
                    <div class="card_footer">
                        of which are <span class="label label-white">{{data.resourcecountreporter.urls}}</span><span class="">unique URLs</span>
                        
                    </div>
                </div>
                <div class="unit-33 card unit-padding">
                    <div class="card_header"><h3 class="text-centered">Size</h3></div>
                    <div class="card_cnt">
                        <p id="resources" class="card_value text-centered">
                            {{ data.resourcesizereporter.contentlength }}
                        </p>
                    </div>
                    <div class="card_footer">
                    based on HTTP HEAD content-length information of {{data.resourcesizereporter.count}} resources
                        
                    </div>
                </div>
            </div>
            <div class="units-row end">
                <div class="unit-50 card unit-padding">
                    <div class="card_header"><h3 class="text-centered">Licenses</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="licenses" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="unit-70 ">
                            <table id="licenseDist" class="topk_table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.licensesreporter %}
                                    <tr>
                                        <td> {{ l.LicenseID}}</td>
                                        <td> {{ l.Count}} ({{ l.perc}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                            <label>Top-3</label>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
                
                <div class="unit-50 card unit-padding">
                    <div class="card_header"><h3 class="text-centered">Tags</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="tags" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.tagreporter %}
                                    <tr>
                                        <td> {{ l.Tag}}</td>
                                        <td> {{ l.Count}} ({{ l.perc}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
            </div>
            <div class="units-row end">  
                <div class="unit-50 unit-padding card">
                    <div class="card_header"><h3 class="text-centered">Organisation</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="tags" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Organisation</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.organisationreporter %}
                                    <tr>
                                        <td> {{ l.Organisation}}</td>
                                        <td> {{ l.Count}} ({{ l.perc}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
                
                <div class="unit-50 unit-padding card">
                    <div class="card_header"><h3 class="text-centered">Formats</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="formats" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Format</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.formatcountreporter %}
                                    <tr>
                                        <td> {{ l.Format}}</td>
                                        <td> {{ l.Count}} ({{ l.perc}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
            </div>
        </div>                
    </div>
{% endblock %}

{% block pageScripts %}
    <script>
   var data = {{ data | tojson| safe }};
    console.log("SERVER DATA")
    console.log(data)
    </script>
{% endblock %}