<!{% extends "_base.jinja" %}
{% set active_page = "portal" -%}

{% block scripts %}
{{ super() }}
            <script type="text/javascript" src="{{ static_url('js/list.min.js') }}" ></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}



{% import '_helpers.jinja' as helper %}


{% block section %}
    {{helper.title("Portal Selection") }}
    

                <div class="units-row">
                    <div class="unit-90 unit-centered">
                        <div class="unit-33">
                            <button class="btn width-100"><i class="fa fa-filter fa-fw"></i>Single Portal</button>
                        </div>
                        <div class="unit-33">
                            <a href="/portal/all" class="btn width-100"><i class="fa fa-cubes fa-fw"></i>All portals</a>
                        </div>
                        <div class="unit-33">
                            <button class="btn width-100"><i class="fa fa-filter"></i>Set of portals</button>
                        </div>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-90 unit-centered">
                        <!--<form class="forms" onsubmit="location.href='/portal/'+this.curPortalID.value+'/info/'+this.curSnapshot.value;">-->
                            <fieldset>
                                <legend>Select single portal</legend>
                                <div class="units-row">
                                    <div class="unit-70">
                                        <div id="selectPortal" class="dropd">
                                            <div class="units-row end">
                                                <div class="unit-100">
                                                    <span id="curPortalID" class="label">select portal</span>
                                                </div>
                                            </div>
                                            <div class="units-row units-split dd">
                                                <div class="input-groups filter">
                                                        <span class=" filter btn-append">filter:</span>
                                                        <input class="search">
                                                </div>
                                                <ul class="select"> </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="unit-20">
                                        <div id="selectSN" class="dropd">
                                            <div class="units-row end">
                                                <div class="unit-100">
                                                    <span id="curSnapshot" class="label">select snapshot</span>
                                                </div>
                                            </div>
                                            <div class="units-row units-split dd">
                                                <div class="input-groups filter">
                                                    <span class="filter btn-append">filter:</span>
                                                    <input class="search">
                                                </div>
                                                <ul  class="select">    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="unit-10">
                                        <button id="go" class="btn right">go</button>
                                    </div>
                                </div>
                            </fieldset>
                        <!--</form>-->
                    </div>
                </div>
           


{% endblock %}

{% block pageScripts %}
    <script>
        
    var data = {{ data | tojson|safe }};
    console.log("SERVER DATA")
    console.log(data)
    
    $(document).ready(function () {
        console.log("Ready")
        
        var ul= $("#selectPortal .dd ul");
        
        console.log(data.portalSnapshots)
        $.each(data.portalSnapshots, function(v){
            ul.append('<li><span>'+v+'</span></li>')
        })
        var sns= $("#selectSN .dd ul");
        sn = data.portalSnapshots['data_wu_ac_at']
        $.each(sn, function(v){
            sns.append('<li><span>'+sn[v]+'</span></li>')
        })
        
        
        var dd = new DropDown($('#selectPortal'));
        var df = new DropDown($('#selectSN'));
        $(document).click(function () {
            $('.dd').hide()
        });
        
        $('#go').on('click', function (e){
            sn = $('#curSnapshot').text()
            pid = $('#curPortalID').text()
            console.log("sn:"+sn+" ,pid"+pid)
            loc="/portal"+pid+"/info/"+sn
            console.log(loc)
            location.href=loc
        });
        
    })
            </script>
{% endblock %}
