<!{% extends "_base.jinja" %}

{% block scripts %}
{{ super() }}
            <script type="text/javascript" src="{{ static_url('js/list.min.js') }}" ></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block section %}
     
                <div class="units-row">
                    <h2>Portal selection</h2>
                </div>
                <div class="units-row">
                    <div class="unit-90 unit-centered">
                        <div class="unit-33">
                            <button class="btn width-100"><i class="fa fa-filter fa-fw"></i>Single Portal</button>
                        </div>
                        <div class="unit-33">
                            <a href="/portal/all" class="btn width-100"><i class="fa fa-cubes fa-fw"></i>All portals</a>
                        </div>
                        <div class="unit-33">
                            <button class="btn width-100"><i class="fa fa-filter"></i>Set of portals</button>
                        </div>
                    </div>
                </div>
                <div class="units-row">
                    <div class="unit-90 unit-centered">
                        <form class="forms" onsubmit="this.action='/portal/'+this.selectportal.value+'/info/'+this.selectsnapshot.value;">
                            <fieldset>
                                <legend>Select single portal</legend>
                                <div class="units-row">
                                    <div class="unit-70">
                                        <label>Portal</label>
                                        <select id="selectportal" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                                            {% for portal in data.portalSnapshots %}
                                                <option value="{{portal}}">{{portal}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="unit-20">
                                        <label>Snapshot</label>
                                        <select id="selectsnapshot" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                                        
                                    </select>


                                    </div>
                                    <div class="unit-10">
                                        <label>-</label>
                                        <button class="btn">go</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
           


{% endblock %}

{% block pageScripts %}
    <script>
        
    var data = {{ data | tojson|safe }};
    console.log("SERVER DATA")
    console.log(data)
    
    $(document).ready(function () {
        console.log("Ready")
        $('#selectportal').on('select.tools.filterbox', function(sel)
        {
            console.log(sel.id);
            var options = $("#selectsnapshot");
            console.log(options)
            console.log(data.portalSnapshots)
            console.log(data.portalSnapshots[sel.id])
            for( var idx in data.portalSnapshots[sel.id]){
                
                var sn = data.portalSnapshots[sel.id][idx]
                console.log(idx+" "+sn)
                options.append($("<option />").val(sn).text(sn));
            };
            $("#selectsnapshot").siblings(".filterbox").each(function(){
                $(this).remove()
            })
            $("#selectsnapshot").filterbox()
            
        });
     });
     $(document).on('keyup','#selectportal-input', function (e) {
        var filter = $(this).val().toLowerCase().trim();
        
        var ul = $(this).siblings(".filterbox-list")
        if (filter.length == 0){
            ul.each(function(){
                $(this).hide()
                $(this).addClass("hide")
                $(this).removeClass("open")
            })
        }
        ul.each(function(){
            $(this).find("li").each(function(){
                var $this = $(this);
                if ($this.text().toLowerCase().indexOf(filter) !== -1) {
                    ul.removeClass("hide")
                    ul.addClass("open")
                    ul.show()
                    $this.show()
                }else{
                    $this.hide()
                }
            })
        })
    });
    </script>
{% endblock %}