<!{% extends "_portal_base.jinja" %}
{% block subtitle %}
    <h2>Quality</h2>
{% endblock %}


{% block portalcontent %}
   <div class="units-row end">
        <div class="unit-100">
            <h3>Retrievability</h3>
        </div>
   </div>
   <div class="units-row end">
        <div class="unit-50 unit-padding card quality_chart">
            <div class="card_header">
                <h3 class="text-centered">Datasets</h3>
            </div>
            <div class="quality">
                <div class="card_cnt">
                    <p id="resources" class="card_value text-centered">
                        {{ data.datasetretrievabilityreporter.DatasetRetrievability.avgP.qrd }}
                    </p>
                </div>
                <div class="card_header">
                    <h3 class="text-centered">R</h3>
                </div>
            </div>
            <div class="details">
                <div class="card_cnt">
                    <div class="chart" id="dataset_ret_chart"> </div>
                    <div class="data_table">
                        <table id="datasetRet">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Count</th>
                                    <th>%</th>
                                    <th>label</th>
                                </tr>
                            </thead>
                            <tbody>
                                 {% for ds in data.datasetstatuscodereporter %}
                                    <tr>
                                        <td>{{ ds.status }}</td>
                                        <td>{{ ds.count }}</td>
                                        <td>{{ ds.perc }}</td>
                                        <td>{{ ds.label }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="card_footer">
                    <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                    </button>
                    <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                    </button>
                </div>
            </div>
            <div class="units-row">  
                <div class="data" id="datasetsSample">
                    <h4>Example Datasets</h4>
                    <form class="forms forms-inline">  
                        
                            
                                    <select>
                                        <option>---</option>
                                    </select>
                                    <div class="forms-desc">Limit</div>
                                
                                    <select><option>---</option></select>
                                    <div class="forms-desc">Status</div>
                            <button class="btn btn-smaller">Load</button>                                                                      
                    </form>
                    <ul>
                    
                    </ul>
                </div>
            </div>
        </div> 
        
        
        <div class="unit-50 card quality_chart unit-padding">
            <div class="card_header">
                <h3 class="text-centered">Resources</h3>
            </div>
            <div class="quality">
                <div class="card_cnt">
                    <p id="resources" class="card_value text-centered">
                            {{ data.resourceretrievabilityreporter.ResourceRetrievability.avgP.qrd }}
                    </p>
                    </div>
                    <div class="card_header">
                        <h3 class="text-centered">R</h3>
                    </div>
                </div>
                <div class="details">
                    <div class="card_cnt">
                        <div class="chart" id="resource_ret_chart"> </div>
                        <div class="data_table">
                            <table id="datasetRet">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Count</th>
                                        <th>%</th>
                                        <th>label</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     {% for ds in data.resourcesstatuscodereporter %}
                                        <tr>
                                            <td>{{ ds.status }}</td>
                                            <td>{{ ds.count }}</td>
                                            <td>{{ ds.perc }}</td>
                                            <td>{{ ds.label }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                <div class="card_footer">
                    <button class="btn btn-smaller btn_show_chart width-100"><i class="fa fa-pie-chart fa-fw"></i>Chart
                    </button>
                    <button class="btn btn-smaller btn_show_data width-100"><i class="fa fa-table fa-fw"></i>Table
                    </button>
                </div>
                </div>
              <div class="units-row">  
                <div class="data" id="resourcesSample">
                    <h4>Examples</h4>
                    <form class="forms forms-inline">  
                        <select>
                            <option>---</option>
                        </select>
                        <div class="forms-desc">Limit</div>
                                    <select><option>---</option></select>
                                    <div class="forms-desc">Status</div>
                            <button class="btn btn-smaller">Load</button>                                                                      
                    </form>
                    <ul id="resSample>
                    
                    </ul>
                </div>
               </div>
                
            </div>
            <div class="card_footer">
                
            </div>
        </div>                
    </div>
    
    <div id="dialog">
        <p class="text-centered">Load example <span id="dialogcategory" class="label"></span> with status code <span id="dialogstatus" class="label"></span></p>
        <button id="loaddata" class="btn btn-smaller">Load</button>
        <button id="dialogclose" class="btn btn-smaller">Close</button>
    </div>
                
{% endblock %}

{% block portalScripts %}
    var spec_bar="/static/vega_spec/statuscode_bar.json";
     
    var data = {{ data | tojson| safe }};
    var portalID = {{ portalID | tojson| safe }};
    var snapshot = {{ snapshot | tojson| safe }};
    console.log("SERVER DATA")
    console.log(data)
    
    function showData(el){
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").hide()
        parent.siblings().find(".data_table").show()
        $this.siblings(".btn_show_chart").show()
        $this.hide()       
    }
    function showChart(el){
        var $this = el
        var parent= $this.parent()
        parent.siblings().find(".chart").show()
        parent.siblings().find(".data_table").hide()
        $this.siblings(".btn_show_data").show()
        $this.hide()   
    }
     
    function parse(spec, div_id, values, category) {
        vg.parse.spec(spec, function(chart) { 
            vega = chart({el:div_id, renderer: "svg"});
            vega.update();
            vega.data("table").remove(function(d) { return true; }); // Remove all current values in "table"
            vega.data("table").insert(values); 
            vega.update();
            vega.render();
            
            vega.on("click", function(e,item) { 
                var target = $(this);
                $("#dialog" ).css({'top':e.pageY-50,'left':e.pageX, 'position':'absolute', 'border':'1px solid black', 'padding':'5px'});
                $('#dialogstatus').text(item.datum.pre+"xx");
                $('#dialogcategory').text(category);
                $('#dialog').show();
            });
        });
    }
    $(document).ready(function() {
     console.log("Doc ready")
    
    showChart( $('.btn_show_chart') )
    $('.btn_show_chart').click(function() {
        showChart($(this))
    });
    $('.btn_show_data').click(function() {
        showData($(this))
    });
 
    $('#dialogclose').click(function() {
        $('#dialog').hide();
    });
    $('#loaddata').click(function() {
        
        var cat =$('#dialogcategory').text(); 
        var status= $('#dialogstatus').text();
        
        
        var url="/d/"+cat+"?portalID="+portalID+"&snapshot="+snapshot+"&statuspre="+status+"&limit=5"        
        console.log(url)
        var ul = $("#"+cat+"Sample ul")
        $.getJSON( url, function( data ) {
            console.log("received")
            console.log(data)
            for(i in data){
                ul.append(  "<li>"+
                            "<span>"+data[i].id+"</span>"+
                            "<span>"+data[i].portalID+"</span>"+
                            "<span>"+data[i].status+"</span>"+
                            "</li>")
                }
                        
            
              
        })
        $('#dialog').hide();
    });
    $('#dialog').hide();
    
    d=[{"key": "added_mis_av",
                               "snapshot": 1439,
                               "value": 10},
                               {'key': 'accessed',
                               'snapshot': 1527,
                               'value': 89},{'key': 'accessed',
                               'snapshot': 1537,
                               'value': 89}]
    parse(spec_bar,"#resource_ret_chart",data.resourcesstatuscodereporter_chart, "resources")
    parse(spec_bar,"#dataset_ret_chart",data.datasetstatuscodereporter_chart, "datasets")
    })
    </script>
{% endblock %}