<!{% extends "_base.jinja" %}

    {% block sidenav %}
        <li class="active">
            <a href="/portal/{{portalID}}/info/{{snapshot}}" > <i class="fa fa-info fa-1x"></i>
                <p>Info</p>
            </a>
        </li>
        <li>
            <a href="/portal/{{portalID}}/details/{{snapshot}}"> <i class="fa fa-eye fa-1x"></i>
                <p>Details</p>
            </a>
        </li>
        <li>
            <a href="/portal/{{portalID}}/quality/{{snapshot}}"> <i class="fa fa-star-o fa-1x"></i>
                <p>Quality</p>
            </a>
        </li>
        <li>
            <a href="/portal/{{portalID}}/activity/{{snapshot}}"> <i class="fa fa-heartbeat fa-1x"></i>
                <p>Activities</p>
            </a>
        </li>
        <li>
            <a href="/portal/{{portalID}}/evolution/{{snapshot}}" class="cur"> <i class="fa fa-line-chart  fa-1x"></i>
                <p>Evolution</p>
            </a>
        </li>
    {% endblock %}



    
{% block section %}
    <div class="units-row units-split end" id="portalInfo">
        <div class="unit-70">
            <div id="selectPortal" class="dropd">
                <div class="units-row end">
                    <div class="unit-100">
                        <span id="curPortalID">{{ portalID }}</span>
                    </div>
                </div>
                <div class="units-row units-split dd">
                    <div class="input-groups filter">
                        <span class=" filter btn-append">filter:</span>
                        <input class="search">
                    </div>
                    <ul class="select"> </ul>
                </div>
            </div>
        </div>
        <div class="unit-20">
            <div id="selectSN" class="dropd">
                <div class="units-row end">
                    <div class="unit-100">
                        <span id="curSnapshot">{{ snapshot }}</span>
                    </div>
                </div>
                <div class="units-row units-split dd">
                    <div class="input-groups filter">
                        <span class="filter btn-append">filter:</span>
                        <input class="search">
                    </div>
                    <ul  class="select">    </ul>
                </div>
            </div>
        </div>
        <div class="unit-10">
            <span id="search" class="btn btn-smaller">search</span>
        </div>
    </div>

    <div class="units-row units-split end">
        <div class="unit-90 unit-push-10" id="selectAll">
            <div class="units-row">
                <div class="unit-60">
                    <div id="checkPortals" class="dropd">
                        <div class="units-row end">
                            <div class="unit-100">
                                <span>select portals</span>
                            </div>
                        </div>
                        <div class="units-row units-split dd">
                            <div class="input-groups filter">
                                <span class="filter btn-append">filter:</span>
                                <input class="search">
                            </div>
                            <ul class="select"> </ul>
                        </div>
                    </div>
                </div>
                <div class="unit-20">
                    <div id="checkISO3" class="dropd">
                        <div class="units-row end">
                            <div class="unit-100">
                                <span>select by Country</span>
                            </div>
                        </div>
                        <div class="units-row units-split dd">
                            <div class="input-groups filter">
                                <span class="filter btn-append">filter:</span>
                                <input class="search">
                            </div>
                            <ul  class="select">    </ul>
                        </div>
                    </div>

                </div>
                <div class="unit-20">
                    <div id="checkSoftware" class="dropd">
                        <div class="units-row end">
                            <div class="unit-100">
                                <span>select by Software</span>
                            </div>
                        </div>
                        <div class="units-row units-split dd">
                            <ul class="select"> </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="units-row units-split end">
                <div class="unit-80" id="selectedPortals">
                    <h5>Selected</h5>
                    <ul>    </ul>
                </div>
                <div class="unit-20">
                    <div id="checkSN" class="dropd">
                        <div class="units-row end">
                            <div class="unit-100">
                                <span>data_wu_ac_at</span>
                            </div>
                        </div>
                        <div class="units-row units-split dd">
                            <div class="input-groups filter">
                                <span class="filter btn-append">filter:</span>
                                <input class="search">
                            </div>
                            <ul  class="select">    </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="units-row end" >
                            <div class="unit-100">
                                <h2>Portal Overview</h2>
                            </div>
                        </div>

    <div class="units-row end">
        <div class="unit-33 card unit-padding">
            <div class="card_cnt">
                <p id="datasets" class="card_value text-centered">
                    {{ data.datasetsumreporter[0]['Value'] }}
                </p>
            </div>
            <div class="card_header">
                <h3 class="text-centered">Datasets</h3>
            </div>
            <div class="card_footer"></div>
        </div>

        <div class="unit-33 card unit-padding">
            <div class="card_cnt">
                <p id="resources" class="card_value text-centered">
                    {{ data.resourcecountreporter.total }}
                </p>
            </div>
            <div class="card_header">
                <h3 class="text-centered">Resources</h3>
            </div>
            <div class="card_footer">
                of which are <span class="label label-white">{{data.resourcecountreporter.urls}}</span><span class="">unique URLs</span>
            </div>
        </div>
        <div class="unit-33 card unit-padding">
            <div class="card_cnt">
                <p id="resources" class="card_value text-centered">
                    {{ data.resourcesizereporter.contentlength }}
                </p>
            </div>
            <div class="card_header"><h3 class="text-centered">Size</h3></div>
            <div class="card_footer">
            based on <code>HTTP HEAD content-length</code> information of {{data.resourcesizereporter.count}} resources
            </div>
        </div>
    </div>
            <div class="units-row end">
                <div class="unit-50 card unit-padding">
                    <div class="card_header"><h3 class="text-centered">Licenses</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="licenses" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="unit-70 ">
                            <table id="licenseDist" class="topk_table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.licensesreporter %}
                                    <tr>
                                        <td> {{ l.LicenseID}}</td>
                                        <td> {{ l.Count}} ({{ "{0:0.2f}".format(l.perc)}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                            <label>Top-3</label>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
                <div class="unit-50 unit-padding card">
                    <div class="card_header"><h3 class="text-centered">Formats</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="formats" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Format</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.dcatformatcount %}
                                    <tr>
                                        <td> {{ l.Format}}</td>
                                        <td> {{ l.Count}} ({{ "{0:0.2f}".format(l.perc)}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
            </div>
            <div class="units-row end">  
                <div class="unit-50 unit-padding card">
                    <div class="card_header"><h3 class="text-centered">Organisation</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="tags" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Organisation</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.dcatorganizationscount %}
                                    <tr>
                                        <td> {{ l.Organisation}}</td>
                                        <td> {{ l.Count}} ({{ "{0:0.2f}".format(l.perc)}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
                <div class="unit-50 card unit-padding">
                    <div class="card_header"><h3 class="text-centered">Tags</h3></div>
                    <div class="card_cnt units-row">
                        <div class=" unit-30">
                            <p id="tags" class="card_value text-centered">1</p>
                            <label>distinct</label>
                        </div>
                        <div class="topk_table unit-70">
                            <table id="tagreporter">
                                <thead>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Datasets</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in data.dcattagscount %}
                                    <tr>
                                        <td> {{ l.Tag}}</td>
                                        <td> {{ l.Count}} ({{ "{0:0.2f}".format(l.perc)}} %)</td>
                                    </tr>
                                    {% endfor %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card_footer">
                    </div>
                </div>
                
            </div>
        </div>                
    </div>
{% endblock %}

{% block pageScripts %}
<script>
    var data = {{ data | tojson| safe }};
    var portals = {{ portals | tojson| safe }};
    var portalID = {{ portalID | tojson | safe }}
    var snapshot = {{ snapshot | tojson | safe }}
    var ul= $("#selectPortal .dd ul");
    var ul1= $("#checkPortals .dd ul");
    var uliso3= $("#checkISO3 .dd ul");
    var ulsoft= $("#checkSoftware .dd ul");
    var iso3=[];
    var software=[];

    for (var item in portals){
        s = '<span class="pid ">'+item+'</span>'
        s = s+'<span class=" iso3 right"><i class="fa fa-globe fa-fw"></i>'+portals[item].iso3+'</span>'
        s = s+'<span class=" software right"><i class="fa fa-cog fa-fw"></i>'+portals[item].software+'</span>'

        if ($.inArray(portals[item].iso3, iso3) ==-1){
            iso3.push(portals[item].iso3)
            uliso3.append('<li><input type="checkbox" value="'+portals[item].iso3+'"><label>'+portals[item].iso3+'</label></li>')
        }
        if ($.inArray(portals[item].software, software) ==-1){
            software.push(portals[item].software)
            ulsoft.append('<li><input type="checkbox" value="'+portals[item].software+'"><label>'+portals[item].software+'</label></li>')
        }
        ul.append('<li><a href="/portal/'+item+'/info/'+snapshot+'">'+s+'</a></li>')
        ul1.append('<li><input type="checkbox" value="'+item+'"><label>'+s+'</label></li>')
    }
    var dd = new DropDown($('#selectPortal'));

    var ul= $("#selectSN .dd ul")
    $.each(data.portalSnapshots['data_wu_ac_at'], function(idx, v){
        ul.append('<li><a href="/portal/'+portalID+'/info/'+v+'">'+v+'</a></li>')
    })
    var df = new DropDown($('#selectSN'));


    var cportals = new DropDown($('#checkPortals'));
    var ciso3 = new DropDown($('#checkISO3'));
    var csoft = new DropDown($('#checkSoftware'));
    var csn = new DropDown($('#checkSN'));


    $("#checkPortals .dd ul> li input").change(function(){
        if($(this).is(":checked")) {
            pid=$(this).val()
            s = '<li><label><span class="pid">'+item+'</span>'
            s = s+'<span class="iso3">'+portals[item].iso3+'</span>'
            s = s+'<span class="software">'+portals[item].software+'</span></label></li>'
            $("#selectedPortals ul").append(s)
        }
    })
    $("#checkISO3 .dd ul> li input").change(function(){
        if($(this).is(":checked")) {
            iso3=$(this).val()
            console.log(iso3)
            for (var item in portals){
                if (portals[item].iso3==iso3){
                    s = '<li><label><span class="pid">'+item+'</span>'
                    s = s+'<span class="iso3">'+portals[item].iso3+'</span>'
                    s = s+'<span class="software">'+portals[item].software+'</span></label></li>'
                    $("#selectedPortals ul").append(s)
                }
            }
        }
    })
    $("#checkSoftware .dd ul> li input").change(function(){
        if($(this).is(":checked")) {
            soft=$(this).val()
            for (var i in portals){
                if (portals[i].software==soft){
                    s = '<li><label><span class="pid">'+i+'</span>'
                    s = s+'<span class="iso3">'+portals[i].iso3+'</span>'
                    s = s+'<span class="software">'+portals[i].software+'</span></label></li>'
                    $("#selectedPortals ul").append(s)
                }
            }
        }
    })
    $("#selectAll").hide()
    $("#search").click(function () {
            // all dropdowns
            $("#selectAll").toggle()

        });
    //<input type="checkbox"><span>data_wu_ac_at</span>
        $(document).click(function () {
            // all dropdowns
            $('.dd').hide()
        });

</script>
{% endblock %}
