<!{% extends "_base.jinja" %}

{% block scripts %}
{{ super() }}
            <script type="text/javascript" src="{{ static_url('js/list.min.js') }}" ></script>
            <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block content %}
<div id="main" class="units-row end units-split">
    <aside class="unit-10">
        <nav id="nav-side" class="nav">
            <ul>
                <li class="cur">
                    <a href="/" > <i class="fa fa-server fa-2x"></i>
                        <p>Overview</p>
                    </a>
                </li>
                <li>
                    <a href="/"> <i class="fa fa-server fa-2x"></i>
                        <p>Details</p>
                    </a>
                </li>
                <li>
                    <a href="/"> <i class="fa fa-server fa-2x"></i>
                        <p>Quality</p>
                    </a>
                </li>
                <li>
                    <a href="/"> <i class="fa fa-server fa-2x"></i>
                        <p>Activities</p>
                    </a>
                </li>
                <li>
                    <a href="/list/portals/" class="cur"> <i class="fa fa-cubes  fa-2x"></i>
                        <p>Evolution</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    
    <section class="unit-90">
        <div class="units-row end">
            <form onsubmit="this.action='/portal_details/'+this.selectportal.value+'/'+this.selectsnapshot.value;">
                <div class="unit-70">
                    <select id="selectportal" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                        {% for portal in data.portalSnapshots %}
                            <option value="{{portal}}">{{portal}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="unit-20">
                    <select id="selectsnapshot" data-tools="filterbox" data-placeholder="Select portal..." class="width-100">
                    </select>
                </div>
                <div class="unit-10">
                    <label>-</label>
                    <button class="btn">go</button>
                </div>
            </form>
        </div>
        
        <div class="units-row">
        <h2>General Overview</h2>
            <div class="unit-33 label-green">
                b1
            </div>
            <div class="unit-33 label-blue">
                b1
            </div>
            <div class="unit-33 label-red">
                b1
            </div>
            <div class="unit-33 label-yellow">
                b1
            </div>
        </div>
    </section>    
</div>
{% endblock %}

{% block pageScripts %}
    <script>
   
    </script>
{% endblock %}