<!{% extends "_base.jinja" %}

{% block sidenav %}
    <li class=" text-centered">
        <a href="/">
            <i class="fa fa-server fa-fw"></i>
            <p>System</p>
        </a>
    </li>
    <li class=" text-centered">
        <a href="/portals">
            <i class="fa fa-cubes  fa-fw"></i>
            <p>Portals</p>
        </a>
    </li>
    <li class="active text-centered">
        <a href="/activity">
            <i class="fa fa-cubes  fa-fw"></i>
            <p>Activity</p>
        </a>
    </li>
{% endblock %}


{% block title %}
    <h2>Portal Watch Activity for snapshot {{snapshot}}</h2>
{% endblock %}

{% block section %}
    <div class="units-row">
        <div class="unit-33 unit-padding card">
            <div class="card_header">
                <h3 class="text-centered">Fetch Process</h3>
            </div>
            <div class="card_cnt">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Status</th>
                            <th>Portals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                            <td><span class="label label-white width-70 text-right">Running</span></td>
                            <td><span id="fetch_running" class="btn label label-blue width-90 text-right">
                                    {{ data.portalactivitysummary.fetch_running }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-question-circle fa-fw"></i></td>
                            <td><span class="label label-white width-70 text-right">Missing</span></td>
                            <td><span id="fetch_missing" class="btn label label-yellow width-90 text-right">
                                    {{ data.portalactivitysummary.fetch_missing }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o fa-fw"></i></td>
                            <td><span class="label label-white width-70 text-right">Processed</span></td>
                            <td><span id="fetch_done" class="btn label label-green width-90 text-right">
                                    {{ data.portalactivitysummary.fetch_done }}
                                </span></td>
                        </tr>
                        <tr>
                            <td><i class="fa  fa-exclamation-triangle fa-fw"></i></td>
                            <td><span class="label label-white width-70 text-right">Failed</span></td>
                            <td><span id="fetch_failed" class="btn label label-red width-90 text-right">
                                {{ data.portalactivitysummary.fetch_failed }}
                            </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card_footer">
                <label class="text-centered width-100">{{ '{0:,}'.format(data.dbds)}} datasets inserted between</label>
                <div class="units-row">
                    <div class="unit-50">
                        <label>{{ data.fetchtimeperiodreporter.min }}</label>
                        <label>start</label>
                    </div>
                    <div class="unit-50">
                        <label>{{ data.fetchtimeperiodreporter.max }}</label>
                        <label>end</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="unit-33 card unit-padding">
            <div class="card_header"><h3 class="text-centered">Head Lookups</h3></div>
            <div class="card_cnt">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Status</th>
                            <th>Portals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                            <td><span class="label label-white width-70">Running</span></td>
                            <td><span id="head_running" class="btn label label-blue width-90 text-right">
                                {{ data.portalactivitysummary.head_running }}
                                </span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-question-circle fa-fw"></i></td>
                            <td><span class="label label-white width-70 text-right">Missing</span></td>
                            <td><span id="head_missing" class="btn label label-yellow width-90 text-right">
                                    {{ data.portalactivitysummary.head_missing }}
                                </span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o fa-fw"></i></td>
                            <td><span class="label label-white width-70">Processed</span></td>
                            <td><span id="head_done" class="btn label label-green width-90 text-right">
                                    {{ data.portalactivitysummary.head_done }}
                                </span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card_footer">
                <label class="text-centered width-100">{{  '{0:,}'.format(data.dbresproc) }} of {{ '{0:,}'.format(data.dbres)}} resources processed</label>
                <div class="units-row">
                    <div class="unit-50">
                        <label>{{ data.headtimeperiodreporter.min }}</label>
                        <label>start</label>
                    </div>
                    <div class="unit-50">
                        <label>{{ data.headtimeperiodreporter.max }}</label>
                        <label>end</label>
                    </div>
                </div>
            </div>

        </div>

        <div class="unit-33  card unit-padding">
            <div class="card_header"><h3 class="text-centered">Quality Assessment</h3></div>
            <div class="card_cnt">
                <table>
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Status</th>
                            <th>Portals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-spinner fa-spin fa-fw"></i></td>
                            <td><span class="label label-white width-70">Running</span></td>
                            <td><span id="fetch_running" class="btn label label-blue width-90 text-right"></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-question-circle fa-fw"></i></td>
                            <td><span class="label label-white width-70">Missing</span></td>
                            <td><span id="fetch_missing" class="btn label label-yellow width-90 text-right"></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-check-square-o fa-fw"></i></td>
                            <td><span class="label label-white width-70">Processed</span></td>
                            <td class="width-20"><span id="fetch_done" class="btn label label-green width-90 text-right"></span></td>
                        </tr>
                        <tr>
                            <td><i class="fa  fa-exclamation-triangle fa-fw"></i></td>
                            <td><span class="label label-white width-70">Failed</span></td>
                            <td><span id="fetch_failed" class="btn label label-red width-90 text-right"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="units-row">
        <div class="unit-100 unit-padding card">
            <div class="card_header">
                <h3 class="text-centered">Details </h3>
            </div>
            <div class="card_cnt">
                <div class="units-row">
                    <div class="unit-20 unit-centered">
                        <button id="btn_all" class="btn btn-smaller"><i class="fa fa-pie-chart fa-fw"></i>Show full table</button>
                    </div>
                </div>
                <div class="data_table">
                    <table id="sysacttable" width="100%">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th colspan="4">Fetching</th>
                                <th colspan="3">Head</th>
                                <th>Quality</th>
                            </tr>
                            <tr>
                                <th>Portal</th>
                                <th>status</th>
                                <th>Error</th>
                                <th>start</th>
                                <th>end</th>
                                <th>status</th>
                                <th>start</th>
                                <th>end</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for portal in data.portalactivitylist %}
                                <tr>
                                    <td>{{ portal.pid }}</td>
                                    <td>{{ portal.fetch }}</td>
                                    <td>{{ portal.fetch_error }}</td>
                                    <td>{{ portal.fetch_start }}</td>
                                    <td>{{ portal.fetch_end }}</td>
                                    <td>{{ portal.head }}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card_footer">

            </div>
        </div>
    </div>

 
                 
      
{% endblock %}

{% block pageScripts %}
 <script>
     
     
     var data = {{ data | tojson|safe }};
     console.log("SERVER DATA")
     console.log(data)
     
     function resetTable(table){
         table.search( '' )
            .columns().search( '' )
            .draw();
     }
     
     function showRows(table, colID, key, show){
         resetTable(table)
        table.column(colID).search(key).draw()
        table.columns( ).visible( false );
        table.columns( show ).visible( true );
        
     }
     
 $(document).ready(function() {
     var t_sysacttable=$('#sysacttable').DataTable({
        "pagin": false
     });
     t_sysacttable.draw();
    $('#fetch_done').click(function() {
         showRows(t_sysacttable, 1, 'done',[0,6])
    }); 
    $('#fetch_running').click(function() {
        showRows(t_sysacttable, 1,'running', [0,5])
    });
    $('#fetch_failed').click(function() {
         showRows(t_sysacttable, 1,'failed', [0,3])
    });
    $('#fetch_missing').click(function() {
         showRows(t_sysacttable, 1,'missing', [0,4])
    });

    $('#head_done').click(function() {
         showRows(t_sysacttable, 4, 'done',[0,6])
    });
    $('#head_running').click(function() {
        showRows(t_sysacttable, 4,'running', [0,5])
    });
    $('#head_missing').click(function() {
         showRows(t_sysacttable, 4,'missing', [0,4])
    });
     
    $('#btn_all').click(function() {
        resetTable(t_sysacttable)
        t_sysacttable.columns().visible( true );
    })
})
    
 </script>
{% endblock %}
