{% extends 'basic_elements.jinja' %}


{% macro activity(data) -%}
    <div class="mdl-card mdl-cell mdl-cell--6-col">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text ">
               <span>Fetch Statistics</span>
            </div>
        </div>
        <div class="mdl-card__supporting-text ">
            <div class="mdl-grid">
                {% if 'fetch_process' in data %}
                    <div class="mdl-cell mdl-cell--6-col">
                        {{ textfield( data.fetch_process.start, 'start') }}
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        {{ textfield( data.fetch_process.end, 'end') }}
                    </div>
                {% else %}
                    <div class="mdl-cell mdl-cell--6-col">
                        {{ textfield( '', 'start') }}
                    </div>
                    <div class="mdl-cell mdl-cell--6-col">
                        {{ textfield( '', 'end') }}
                    </div>
                {% endif %}
             </div>
        </div>
    </div>
    <div class="mdl-card mdl-cell mdl-cell--6-col">

        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text ">
               <span>HEAD Lookups Statistics</span>
            </div>
        </div>
        <div class="mdl-card__supporting-text ">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">

                </div>
                <div class="mdl-cell mdl-cell--6-col">

                </div>

             </div>
        </div>
    </div>
{%- endmacro %}