{% extends 'basic_elements.jinja' %}


{% macro changevalues(data) -%}
<div class="mdl-grid mdl-cell mdl-cell--12-col">
    {% if 'change' in data and data.change| length >0 %}
        <div class="mdl-grid mdl-cell mdl-cell--12-col">change</div>
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Selector</th>
                    <th class="mdl-data-table__cell--non-numeric">From</th>
                    <th class="mdl-data-table__cell--non-numeric">To</th>
                </tr>
            </thead>
            <tbody>
                {% for c in data.change %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{c}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{data.change[c][0]}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{data.change[c][1]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif%}
</div>
{%- endmacro %}

{% macro adddelchanges(data, key,label) -%}
    {{data}}
    <div class="mdl-grid mdl-cell mdl-cell--6-col">
    {% if key in data and data[key]| length >0 %}
        <div class="mdl-cell mdl-cell--12-col">{{label}}</div>
        <table  class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Selector</th>
                    <th class="mdl-data-table__cell--non-numeric">Key</th>
                    <th class="mdl-data-table__cell--non-numeric">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for c in data[key] %}
                    <tr>
                        <td>{{c}}</td>
                        <td>{{ data[key][c][0][0]}}</td>
                        <td>{{ data[key][c][0][1]}}</td>
                    </tr>
                    {% for cc in data[key][c] %}
                        {% if loop.index > 1 %}
                        <tr>
                            <td></td>
                            <td>{{cc[0]}}</td>
                            <td>{{cc[1]}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endif%}
    </div>
{%- endmacro %}


{% macro changes(data) -%}
    <div class="mdl-card mdl-cell mdl-cell--11-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text ">
                <span>Change Counts</span>
            </div>
        </div>
        <div class="mdl-card__supporting-text ">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="" style="padding-bottom: 0px;">
                        <p class="mdl-typography--title	 mdl-color-text--black mdl-typography--text-center" type="text" id="del" >{{data.DatasetChangeCountAnalyser.deleted.count}}</p>
                        <p class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary mdl-typography--text-center">datasets deleted</p>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="" style="padding-bottom: 0px;">
                        <p class="mdl-typography--title	 mdl-color-text--black mdl-typography--text-center" type="text" id="changed" >{{data.DatasetChangeCountAnalyser.changed.count}}</p>
                        <p class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary mdl-typography--text-center">datasets changed</p>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    <div class="" style="padding-bottom: 0px;">
                        <p class="mdl-typography--title	 mdl-color-text--black mdl-typography--text-center" type="text" id="new" >{{data.DatasetChangeCountAnalyser.new.count}}</p>
                        <p class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--primary mdl-typography--text-center">datasets added</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if 'values' in data.DatasetChangeCountAnalyser.changed and  data.DatasetChangeCountAnalyser.changed['values']|length >0 %}
        {% for did, ch in data.DatasetChangeCountAnalyser.changed.values.iteritems() %}
            <div class="mdl-card mdl-cell mdl-cell--11-col mdl-shadow--2dp" id="changed">
                <div class="mdl-card__title mdl-card--border">
                    <div class="mdl-card__subtitle-text ">
                        <span>{{ch.label[0]}}</span>
                    </div>
                </div>
                <div class="mdl-card__supporting-text ">
                    <div class="mdl-grid">
                        {{ adddelchanges(ch.changes, 'del','Deleted') }}
                        {{ adddelchanges(ch.changes, 'add','Added') }}
                        {{ changevalues(ch.changes) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if 'values' in data.DatasetChangeCountAnalyser.new and  data.DatasetChangeCountAnalyser.new['values']|length >0 %}
    <div class="mdl-card mdl-cell mdl-cell--11-col mdl-shadow--2dp" id="changed">
        <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__subtitle-text ">
                <span>New Datasets</span>
            </div>
        </div>
        <div class="mdl-card__supporting-text ">
            <ul>
            {% for did, ch in data.DatasetChangeCountAnalyser.new['values'].iteritems() %}
            <li>{{ch[0]}} ({{did}})</li>

            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{%- endmacro %}