
{% macro software_select(data, gennav) -%}
    <select id="soft" class="select" style="width:100%">
        {% if 'software' in data %}
            <option selected value="{{data.software}}">{{data.software}}</option>
        {% else %}
            <option  value=""></option>
        {% endif %}
        {% for soft,dv in gennav.iteritems() %}
            {% if soft != data.software %}
            <option value="{{soft}}">{{soft}} (since {{dv.since}})</option>
            {% endif %}
        {% endfor %}

    </select>
{%- endmacro %}

{% macro iso_select(data, gennav) -%}
    <select id="iso3" class="select" style="width:100%">
        {% if 'iso3' in data %}
            <option selected value="{{data.iso3}}">{{data.iso3}}</option>
        {% else %}
            <option  value=""></option>
        {% endif %}

        {% for soft, dv in gennav.iteritems() %}
            {% if 'software' not in data or soft == data.software %}

                {% for iso3, dvv in dv.iso.iteritems() %}
                    {% if iso3 != data.iso3 %}
                        <option value="{{iso3}}">

                            {% if dvv.since|string != data.snapshot|string %}
                                {{dvv.since_date}}

                            {% endif %}
                        </option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </select>
{%- endmacro %}

{% macro portal_select(data, gennav) -%}
    <select id="portal" class="select" style="width:100%">
        {% if 'portalID' in data %}
            <option value="{{url_for('portal',portal_id=data.portalID, snapshot=data.snapshot) }}">{{data.portalID}}</option>
        {% else %}
            <option  value=""></option>
        {% endif %}
        {% for soft, dv in gennav.iteritems() %}
            {% if 'software' not in data or soft == data.software %}
                {% for iso3, dvv in dv.iso.iteritems() %}
                    {% if 'iso3' not in data or iso3 == data.iso3 %}
                        {% for p, dvvv in dvv.portals.iteritems() %}
                            {% if p!=data.portalID %}
                                <option value="{{p}}">{{p}} (since {{dvvv.date}})</option>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    </select>
{%- endmacro %}

{% macro orga_select(data, gennav) -%}
    <select id="org" class="select" style="width:100%">
        <option value=""></option>
        {% if 'organisation' in data %}
            <option selected value="{{slugify(data.organisation)}}">{{data.organisation}}</option>
        {% endif %}
        {% if 'portalID' in data %}
            {% if nav is not none %}
                {% if 'organisations' in nav %}
                    {% for k in nav.organisations %}
                        {% if k != data.organisation %}
                            <option value="{{url_for('orga',portal_id=data.portalID, orga=slugify(k), snapshot=data.snapshot) }}">{{k}}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% elif 'DCATOrganizationsCount' in data %}
                {% for k in data.DCATOrganizationsCount %}
                    <option value="{{url_for('orga',portal_id=data.portalID, orga=slugify(k), snapshot=data.snapshot) }}">{{k}}</option>
                {% endfor %}
            {% endif %}
        {% endif %}
    </select>
{%- endmacro %}

{% macro portal_header(data, evol, nav, gennav) -%}


    {{breadcrumbs(data, gennav)}}

    <div class="mdl-cell mdl-cell--1-col mdl-grid" style="margin-top:-2px;">
        <div class="mdl-cell mdl-cell--12-col">
            <span class="">Snapshots:</span>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--11-col mdl-grid snapshotinfo" style="margin-top:-2px;">
        {% if evol %}

            <div class="mdl-cell mdl-cell--2-col">
                {{snapshotField(evol.first.date , evol.first.sn, 'first snapshot',data)}}
            </div>

            <div class="mdl-cell mdl-cell--2-col prev">
                {% for s in evol.snapshots | sort %}
                    {% if s|int == data.snapshot %}
                        {% if loop.index0 != 0 %}
                            {{snapshotField( evol.snapshots[(evol.snapshots | sort)[loop.index0-1]].date, (evol.snapshots | sort)[loop.index0-1], 'prev',data)}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="mdl-cell mdl-cell--3-col current">
                <div class="" style="padding-bottom: 0px;">
                    <p class=" mdl-color-text--white" style="margin-bottom: 0px;">Selected</p>
                    <select id="cursn" class="select" style="width:90%">
                        <option selected value="{{data.snapshot}}">{{data.snapshot_date}}</option>
                        {% for s in evol.snapshots| sort %}
                            {% if s != data.snapshot %}
                                <option value="{{s}}">{{evol.snapshots[s]['date']}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col next">
                {% for s in evol.snapshots | sort %}
                    {% if s|int == data.snapshot %}
                        {% if loop.index0 != (evol.snapshots|length)-1 %}
                            {{snapshotField( evol.snapshots[(evol.snapshots | sort)[loop.index0+1]].date, (evol.snapshots | sort)[loop.index0+1], 'next', data)}}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="mdl-cell mdl-cell--2-col">
                {{snapshotField(evol.last.date , evol.last.sn, 'last snapshot',data)}}
            </div>

        {% endif %}
    </div>
{%- endmacro %}


{% macro breadcrumbs(data, gennav) -%}
    <div id="breadcrumb-info-frame" class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="margin-top: 0px;margin-bottom: -1px;">
    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="margin-top: 0px;margin-bottom: -1px;">
        <ul id="breadcrumb-info">
            <li >
                <div style="width:100px;">
                    Software
                </div>
            </li>
            <li>
                <div  style="width:100px;">
                    Iso
                </div>
            </li>
            <li>
                <div  style="width:200px;">
                    Portal
                </div>
            </li>
            <li>
                <div  style="width:250px;">
                   Organisation
                </div>
            </li>
        </ul>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="margin-top: 1px;">
        <ul id="breadcrumb" >
            <li >
                <div style="width:100px;">
                    {{ software_select(data, gennav)}}
                </div>
            </li>
            <li>
                <div  style="width:100px;">
                    {{iso_select(data, gennav)}}
                </div>
            </li>
            <li>
                <div  style="width:250px;">
                    {{portal_select(data, gennav)}}
                </div>
            </li>
            <li>
                <div  style="width:300px;">
                    {{orga_select(data, gennav)}}
                </div>
            </li>
        </ul>

    </div>
</div>
{%- endmacro %}


{% macro snapshotField(value, sn, label,data) -%}
    {% if 'organisation' in data %}
        {% set urlI = url_for('orga', portal_id=data.portalID, orga=slugify(data.organisation), snapshot=sn) %}
    {% elif 'portalID' in data %}
        {% set urlI = url_for('portal', portal_id=data.portalID, snapshot=sn) %}
    {% endif %}
    <a href="{{urlI}}" class="mdl-cell mdl-cell--2-col">
        <div class="" style="padding-bottom: 0px;">
            <p class=" mdl-color-text--primary" style="margin-bottom: 0px;">{{label}}</p>
            <span class="mdl-color-text--black">{{value}}</span>
        </div>
    </a>
{%- endmacro %}





{% macro navjs(data)-%}

    function formatState (state) {
        if (!state.id) { return state.text; }

            var str=''
            if (state.text != state.element.value && state.text.trim().length>0)
                str='<p>' + state.element.value + '</p><pan> ' + state.text + '</span>'
            else
                str='<p>' + state.element.value + '</p>'


            var $state = $(str)
            return $state;
    };

    $('#soft').select2({
        placeholder: 'Filter by software'
        ,minimumResultsForSearch: 20 // at least 20 results must be displayed
        ,allowClear: true
    });

    $('#iso3').select2({
        placeholder: 'Filter by country'
        ,minimumResultsForSearch: 20 // at least 20 results must be displayed
        ,allowClear: true
        ,templateResult: formatState
    });



    $('#org').select2({
        placeholder: 'Select an organisation'
        ,minimumResultsForSearch: 20 // at least 20 results must be displayed
        ,allowClear: true
    });

    $('#portal').select2({
        placeholder: 'Select a portal'
        ,minimumResultsForSearch: 20 // at least 20 results must be displayed
        ,allowClear: true
    });

    $('#cursn').select2({
        placeholder: 'Select snapshot'
        ,minimumResultsForSearch: 5 // at least 20 results must be displayed
    });


    $('#org').on("select2:unselect", function (eventData) {
        console.log("unselected")
        var id = eventData.params.data.id
        console.log(id)
        if(id=='all')
            var url="/portal/{{data.snapshot}}/{{data.portalID}}"
        console.log(url)
        window.location.href = url
    });

    $('#org').on("select2:select", function (eventData) {
        var id = eventData.params.data.id
        console.log(id)
        var url=eventData.params.data.id

        if(id=='all')
            var url="/portal/{{data.snapshot}}/{{data.portalID}}"

        console.log(url)
        window.location.href = url
    });



    $('#portal').on("select2:unselect", function (eventData) {
        console.log("unselected")
        var url="/software/{{data.software}}/iso/{{data.iso3}}/{{data.snapshot}}"
        console.log(url)
        window.location.href = url
    });
    $('#portal').on("select2:select", function (eventData) {
        var id = eventData.params.data.id
        console.log(id)
        var url=id


        console.log(url)
        window.location.href = url
    });


    $('#soft').on("select2:select", function( eventData){
        var soft = eventData.params.data.id
        var url="/software/{{data.snapshot}}/"+soft
        console.log(url)
        window.location.href = url
    })

    $('#soft').on("select2:unselect", function( eventData){

        console.log("Need to show all for this sn")
        var url="/portal/{{data.snapshot}}/all/"

    })

    $('#iso3').on("select2:select", function( eventData){
        var iso = eventData.params.data.id
        var soft=$('#soft').val()
        console.log(soft)
        var url="/iso/{{data.snapshot}}/"+iso
        if (soft != null){
            url="/software/{{data.snapshot}}/"+soft+"/"+iso+"/"
        }

        console.log(url)
        window.location.href = url
    })

    $('#iso3').on("select2:unselect", function( eventData){
        var soft=$('#soft').val()
        if (soft != null){
            url="/software/{{data.snapshot}}/"+soft
        }else{
            url="/portal/{{data.snapshot}}/all/"
            console.log("Need to show all for this sn")
        }
        window.location.href = url


    })



{%- endmacro%}

{% macro vertical(data)-%}
<div class="mdl-cell mdl-cell--6-col mdl-grid mdl-grid--no-spacing" style="margin-bottom:-2px;">
        <div class="mdl-cell mdl-cell--3-col">
            <span class="mdl-typography--headline">Software:</span>
        </div>
        <div class="mdl-cell mdl-cell--5-col">
            {{software_select(data, gennav)}}
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col mdl-grid mdl-grid--no-spacing" style="margin-bottom:-2px;">
        <div class="mdl-cell mdl-cell--3-col">
            <span class="mdl-typography--headline">Iso3:</span>
        </div>
        <div class="mdl-cell mdl-cell--5-col">
            {{iso_select(data, gennav)}}
        </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="margin-bottom:-2px;">
        <div class="mdl-cell mdl-cell--2-col">
            <span class="mdl-typography--headline">Portal:</span>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            {{portal_select(data, gennav)}}
        </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing" style="margin-bottom:-2px;">
        <div class="mdl-cell mdl-cell--2-col">
            <span class="mdl-typography--headline">Organisation:</span>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            {{ orga_select(data, gennav) }}
        </div>
    </div>
{%- endmacro%}