{% extends 'basic_elements.jinja' %}


{% macro qualityCard(q, m, mv, data) -%}
    <div class="mdl-card mdl-cell mdl-cell--6-col mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--border" >
            <div>
                <div class="mdl-card__title-text " style="color: {{mv.color}}">
                    {{mv.label}}
                </div>
                <div class="mdl-card__subtitle-text " style="color: {{q.color}}">
                    {{q.dimension}}
                </div>
            </div>
        </div>
        <div class="mdl-card__supporting-text ">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                     {{ textfield( data.value| round(2), 'value') }}
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    {{ textfield( data.total, 'total') }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro quality(data, qa_labels,plot_div) -%}
    <div class="plotdiv mdl-cell mdl-cell--12-col" >
        {{ plot_div.graph }}
    </div>
    {% for dim in qa_labels%}
        <div class="mdl-cell mdl-cell--6-col mdl-grid" >

        {% for q,qv in dim.metrics.iteritems() %}
            {{ qualityCard(dim, q, qv, data.DCATDMD[q] ) }}
        {% endfor %}
        </div>
    {% endfor %}
{%- endmacro %}