{% extends "odpw_layout.jinja" %}


{% block content %}
<h2 class="ui dividing header">Introduction</h2>
            <div class="ui equal width center aligned padded grid">
                <div class="row">
                    <div class="four wide column"></div>
                <div class="black  four wide column"></div>
                <div class="four wide column"></div>
                <div class="four wide column"></div>
                </div>

            </div>
{% endblock %}