{% extends "odpw_layout.jinja" %}

{% set active_sub_page = active_sub_page|default('ui.portal') -%}

{% block content %}
    <div class="ui grid">
        <div class="three wide column" style="background: black;">
            <div class="ui secondary sticky fixed vertical inverted fluid labeled icon menu">

                {% set navigation_bar = [
                    ('ui.portal', 'info', 'Info'),
                    ('ui.portalQuality', 'info', 'Quality'),
                    ('ui.portalRes', 'grid layout', 'Resources')
                    ]
                -%}
                {% set active_sub_page = active_sub_page|default('ui.portal') -%}
                {% for href,  icon, caption in navigation_bar %}
                    <a class="item {% if href == active_sub_page %}active{% endif%}" href="{{ url_for(href, portalid=portalid, snapshot=snapshot)|e }}">
                        <i class="{{ icon|e }} icon"></i>
                        {{ caption|e }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="thirteen wide column ui grid" id="container">
            <div class="sixteen wide column black">
                <h3> Portal: {{portalid}}
                <!--<div class=" labeled icon ui selection search dropdown" id="portalSelect">
                    <input name="gender" type="hidden" value="default">
                    <i class="dropdown icon"></i>
                    <div class="text">{{portalid}}</div>
                    <div class="menu">

                        <div class="item" data-value="0">Value</div>
                        <div class="item" data-value="1">Another Value</div>
                        <div class="item" data-value="default">{{portalid}}</div>
                    </div>
                 </div>
                 -->
                <div class="ui left pointing scrolling dropdown icon">
                    <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="ui left search icon input">
                                <i class="search icon"></i>
                                <input type="text" name="search" placeholder="Search portal...">
                            </div>
                            <div class="header">
                                <i class="tags icon"></i>
                                Portals
                            </div>
                            {% for portal in data.portals%}
                            <div  class="item">
                                <a href="{{url_for(active_sub_page, portalid=portal.id, snapshot=snapshot)}}">
                                    <i class="{{portal.iso| lower}} flag "></i>
                                    {{portal.uri|get_domain}} ({{portal.software}})
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>

                </h3>
            </div>
            <div class="row">
                <div class="right floated five wide column large">
                    Week: {{snapshot|getWeekString}}

                    {% if data.snapshots.prev %}
                        <a href="{{url_for(active_sub_page, portalid=portalid, snapshot=data.snapshots.prev)}}">
                        <i class="icon angle left"></i>
                        </a>
                    {% else %}
                        <i class="icon angle left"></i>
                    {% endif %}

                    <div class="ui dropdown item">
                        <i class="calendar icon"></i>
                        <div class="menu">
                            {% for sn in data.snapshots.list %}
                                <div class="item" data-value="{{sn}}">
                                    <a href="{{url_for(active_sub_page, portalid=portalid, snapshot=sn)}}">
                                        {{sn|getWeekString}}
                                    </a>


                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if data.snapshots.next %}
                       <a href="{{url_for(active_sub_page, portalid=portalid, snapshot=data.snapshots.next)}}"> <i class="icon angle right"></i></a>
                    {% else %}
                        <i class="icon angle right"></i>
                    {% endif %}
                </div>

            </div>
            {% block portalcontent %}
            {% endblock %}
        </div>
   </div>
{% endblock %}


{% block script %}
$('.dropdown')
  .dropdown({
    // you can use any ui transition
    transition: 'drop'
  })
;
$('.ui.sticky')
  .sticky({
    context: '#container'
  });


{% endblock %}