{% extends "odpw_portal_layout.jinja" %}


{% block headcss %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.semanticui.min.css">
{% endblock %}
{% block headscripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>
{% endblock %}

{% macro resourceTable(data) -%}
<div id="test">

</div>
<table class="ui celled table" id="resources" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>URI</th>
      <th>status</th>
      <th>last checked</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>URI</th>
      <th>status</th>
      <th>last checked</th>
    </tr>
  </tfoot>
</table>
{%- endmacro %}


{% block portalcontent %}

<!-- How many resources -->
    <div class="ui segment">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                  {{ data.valid }}
                </div>
                <div class="label">
                  unique Resources
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                  {{ data.valid['True'] }}
                </div>
                <div class="label">
                  valid HTTP URLs
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                  {{ data.status.200 }}
                </div>
                <div class="label">
                  available Resources
                </div>
            </div>
        </div>
    </div>

    <div class="ui segment">
        {{ resourceTable()}}
    </div>

{% endblock %}

{% block script %}
    {{ super() }}
    snapshot={{ snapshot|safe }}
    portalid="{{ portalid|safe }}"
    url="http://localhost:5122//api/portal/"+portalid+"/"+snapshot+"/resources"
    console.log(url)


    $(document).ready(function() {
        var j = [];
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function(data) { j = data;},
            async: false
        });

        var table = $('#resources').DataTable(
        {
            dom: 'lfrBtip',
            lengthChange: false,
            buttons: [ 'copy', 'excel', 'pdf' ]
            ,"data": j
            ,"dataSrc": ""
            ,"columns": [
                { "data": "uri" }
                ,{ "data": "status" }
                ,{ "data": "timestamp" }
            ]
        }

        );
        table.buttons().container()
            .appendTo( $('#test', table.table().container()) );
    })

 {% endblock %}