<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %} {% endblock %} Open Data Portal Watch
        </title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='semantic/semantic.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/odpw.css')}}">

        {% block headcss %} {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('.static', filename='semantic/semantic.min.js')}}"></script>

        {% block headscripts %}  {% endblock %}

        <style>
            .ui.card .meta {
                font-size: 0.8em;
            }
            {% block style %}

            {% endblock %}
        </style>
        <script>
            {% block headscript %}

            {% endblock %}
        </script>
    </head>

    <body>

    <!-- HEADER -->
        <header id="header" class="ui grid">
            <h1 class="ui header fifteen wide column">
                <div class="content">
                    Open Data Portal Watch
                    <div class="sub header">Quality Assessment and Monitoring of 261 Open Data Portals</div>
                </div>
                <img  class="ui tiny image" src="{{ url_for('.static', filename='img/wu.png')}}">
            </h1>
        </header>

    <!-- MAIN NAVIGATION -->
        <nav id="mainnav" class="ui secondary pointing labeled icon menu" >
            <div class="header item">ODPW</div>
            <a class="active item">System</a>
            <a class="item">Portals</a>
            <a class="item"><i class="icon line chart"></i>Dashboard</a>
            <a class="item"><i class="icon download"></i>Data</a>
            <a href="{{ url_for('ui.api')}}" class="item"><i class="icon code"></i>API</a>
            <div class="right menu">
                <a class="ui item">About</a>
            </div>
        </nav>


    <!-- CONTENT -->
        <section class="ui segement text">
            {% block content %}
            {% endblock %}
        </section>

    <!-- FOOTER -->
        <footer class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Sitemap</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Religious Ceremonies</a>
                            <a href="#" class="item">Gazebo Plans</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">DNA FAQ</a>
                            <a href="#" class="item">How To Access</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Footer Header</h4>
                        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                    </div>
                </div>
            </div>
        </footer>

    <!-- SCRIPTS -->
        <script>
            {% block script %} {% endblock %}
        </script>
    </body>
</html>