{% extends "odpw_system_layout.jinja" %}
{% set title = "Fetch process elapsed time for the last ten weeks" -%}

{% set active_sub_page = "ui.systemfetch" -%}

{% block headcss %}
    {{ css_resources }}
{% endblock %}

{% block headscripts %}
    {{ js_resources }}
{% endblock %}


{% block systemcontent %}
    <div class="ui container grid">

        <div class="row" style="height:100%" >
            {{ plot_div }}

        </div>
    </div>
    {{ plot_script }}
{% endblock %}
