{% extends "odpw_system_layout.jinja" %}
{% set title = "Fetch statistics for the last ten weeks" -%}


{% block headcss %}
    {{ css_resources }}
{% endblock %}

{% block headscripts %}
    {{ js_resources }}
{% endblock %}


{% block systemcontent %}
    <div class="ui grid">
        <div class="" >
            {{ plot_div }}
            {{ plot_script }}
        </div>
    </div>
{% endblock %}
