.chart {
  background: #e4e6e5;
  border-radius: 10px;
  margin: 5px;
  float: left;
}
polyline {
  opacity: 0.3;
  stroke: #000;
  stroke-width: 2px;
  fill: none;
}
.axis path,
.axis line {
  stroke-width: 1;
  fill: none;
  stroke: #808080;
  shape-rendering: crispEdges;
}
#portals svg {
  border-radius: 10px;
}
#portals rect.total {
  fill: #808080;
}
#portals rect.ok {
  fill: #4682b4;
}
#map path {
  fill: #e4e6e5;
  stroke: #000;
}
#map .boundary {
  fill: none;
  stroke: #323232;
  stroke-width: 0.5px;
}
.axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.axis.ds {
  fill: #f00;
}
.axis.res {
  fill: #00f;
}
circle.ds {
  stroke: #e4e6e5;
  fill: #f00;
  margin: 2px;
}
circle.res {
  stroke: #e4e6e5;
  fill: #00f;
  margin: 2px;
}
path.ds {
  stroke: #f00;
}
path.res {
  stroke: #00f;
}
