body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Muli', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Sorts Mill Goudy', serif;
  font-family: 'Raleway', sans-serif;
}
header h1 {
  height: 110px;
}
header h1 a {
  padding: 0px;
  padding-left: 50px;
  margin: 0px;
  line-height: 110px;
  font-size: 3em;
  text-decoration: none;
  color: #141414;
  font-family: 'Sorts Mill Goudy', serif;
}
header h1 img {
  padding: 10px;
  float: right;
  margin-right: 50px;
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 90px;
}
.left {
  float: left;
  width: 90%;
}
.ring {
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 50%;
  border: solid 2px red;
  padding: 20px;
  text-align: center;
}
/*
.tab {
  margin-top: 10px;
}
.tab ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  list-style: none;
}
*/
.tab li {
/*  display: table-cell;*/
  font-family: 'Sorts Mill Goudy', serif;
  font-family: 'Julius Sans One', sans-serif;
  height: 40px;
/*
  max-width: 220px;
  min-width: 120px;
*/
}
.tab li a {
  text-transform: uppercase;
/*  font-variant: small-caps;*/
  border-radius: 5px 5px 0px 0px;
  background: #5a5a5a;
  color: #e6e6e6;
  margin-right: 10px;
/*  display: block;*/
  text-align: center;
  line-height: 40px;
}
.tab li a:hover,
.tab li a.cur {
  color: #000;
  background: #dcdcdc;
}

nav#main_menu{
    margin-bottom: 0px;   
}

.container {
  width: 100%;
  float: left;
  background: #dcdcdc;
  border-radius: 0px 5px 5px 5px;
  padding-bottom: 10px;
  min-height: 400px;
  margin-bottom: 20px;
}
aside {
  float: left;
  width: 100px;
  background: #dcdcdc;
    
}
nav.side ul {
  margin: 40px 0px 0px 0px;
  padding: 10px 0px 0px 10px;
  list-style-type: none;
}
nav.side ul li {
  height: 50px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px 0px 0px 5px;
}
nav.side ul li.cur,
nav.side ul li:hover {
  background: #fff;
  display: block;
  position: relative;
  box-shadow: -2px 0px 3px 0px #333;
  z-index: 3;
  -webkit-box-shadow: 0 0 2px 1px gray;
}
nav.side ul li.cur:after,
nav.side ul li:hover:after {
  display: block;
  background: #fff;
  width: 4px;
  height: 51px;
  content: " ";
  position: absolute;
  top: -1px;
  right: -4px;
}
nav.side ul li.cur a,
nav.side ul li:hover a {
  color: #0a0a0a;
}
nav.side ul li a {
  float: left;
  color: #787878;
  text-align: center;
  height: 50px;
  width: 100%;
}
.panel{padding:0px 0px 50px 50px;}
.content {
  padding: 5px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 103px;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.75);
  z-index: -1;
}
.content h2 {
  margin: 10px 10px 20px 10px;
  font-size: 20px;
  line-height: 20px;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  border-bottom: 1px solid rgba(30,30,30,0.9);
}

.card{
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;    
/*    box-shadow: 0 0 2px rgba(0,0,0,0.75);*/
}
.card .header{
}
.card .cnt{
    border-bottom: 1px solid rgba(30,30,30,0.9);
    border-top: 1px solid rgba(30,30,30,0.9);
    background: #e6e6e6;
}
.card .footer{
}

#portalSelect {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid;
}
#portalSelect h2 {
  float: left;
}
#portalSelect #id_chosen.chosen-container.chosen-container-single {
  width: 400px;
}
#portalSelect .chosen-container {
  font-size: 20px;
}
#portalSelect .chosen-container-single .chosen-single {
  height: 30px;
  margin-top: 8px;
  border: 0px;
  background: inherit;
}
#portalSelect .chosen-container .chosen-results {
  font-size: 14px;
}
#portalSelect .chosen-container .chosen-results li {
  margin-top: 5px;
  background: #e6e6e6;
}
#portalSelect .chosen-container-single .chosen-drop {
  border: 0px;
  box-shadow: none;
}
footer {
  float: left;
  border-top: solid 2px;
  height: 70px;
  width: 100%;
  clear: both;
}
#portals {
  height: 200px;
  width: 650px;
  padding-left: 20px;
}
#portals .size {
  float: left;
}
#portals .hex {
  margin-top: 40px;
}
#portals #map {
  margin: 10px;
  float: left;
}
#portals .insystem,
#portals .active {
  float: left;
}
#datasets {
  padding-left: 20px;
  height: 200px;
  width: 450px;
}
#datasets .hex {
  margin-top: 40px;
}
#dsOpen,
#dsSize,
#dsContact,
#resSize,
#resUnique {
  float: left;
}
#weekPicker {
  margin: auto;
  margin-top: 20px;
  width: 500px;
}
#weekPicker ul {
  float: left;
  display: table;
  margin: auto;
  table-layout: fixed;
  list-style: none;
}
#weekPicker ul li {
  display: table-cell;
  width: 50px;
  padding-right: 5px;
  font-family: 'Sorts Mill Goudy', serif;
}
#weekPicker ul li p.bar {
  height: 12px;
  background: #5a5a5a;
  border-radius: 3px;
}
#weekPicker .arrows i {
  float: left;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #f0f0f0;
  background: #5a5a5a;
}
.even {
  margin-left: 26px;
}

#portalList ul.blocks-4 li {
height: 160px;
  
	}

#portalList li {
  border-radius: 3px;
  height: 60px;
  box-shadow: 0 0 2px rgba(0,0,0,0.75);
  background: #e6e6e6;
  padding: 5px;
  margin: 5px;
}
#portalList li .title h3 {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

#portalList li:hover {
  background: #bebebe;
}

.data_table{
	padding: 5px;
}
.data_table table{
    margin: 5px;
}



@media only screen and (max-width: 767px) {
    .mobile-hide{
    display: none;}	
	
}
