header#header{
    height:100px; 
    margin-top:10px;
}
header#header img{
    float: right;
}

nav#mainnav {
    padding-left:50px;
}



#portalSelect{
    background:black;
}
#portalSelect .text, i{
    color:white;
}
#portalSelect .search{
    color:white;
    border-bottom: 1px white;
    border-bottom: 2px solid white;

}