{% extends "odpw_layout.jinja" %}

{% set active_page = "about" -%}
{% block content %}
<div class="ui  container">
    <h2 class="ui header">Open Data Portal Watch</h2>
    <div class="container ui">
    The <b>Open Data Portal Watch framework</b> is a scalable quality assessment and evolution monitoring framework for Open Data (Web) portals.
    We harvest the metadata of around 260 Web catalogues and perform a quality assessment of the metadata along 6 dimensions and 19 metrics.
    </div>

    <h2 class="ui header">Related Publications</h2>

    <div class="ui relaxed list">
        <div class="item">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">Automated Quality Assessment of Metadata across Open Data Portals</div>
                <div class="meta">
                    <span>Neumaier, Sebastian and Umbrich, Jürgen and Polleres, Axel</span>
                </div>
                <div class="description">
                    <p>In ACM Journal of Data and Information Quality (JDIQ), 2016.</p>
                </div>
                <div class="extra">
                    <span class="ui label">journal</span><span class="ui label">2016</span>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">Measures for assessing the data freshness in Open Data portals</div>
                <div class="meta">
                    <span>Neumaier, Sebastian and Umbrich, Jürgen</span>
                </div>
                <div class="description">
                    <p>In 2nd International Conference on Open and Big Data, Vienna, Austria, August 2016.</p>
                </div>
                <div class="extra">
                    <span class="ui label">conference</span><span class="ui label">2016</span>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">Open Data Portal Quality Comparison using AHP</div>
                <div class="meta">
                    <span>Kubler, Sylvain and Robert, Jérémy and Le Traon, Yves and Umbrich, Jürgen and Neumaier, Sebastian</span>
                </div>
                <div class="description">
                    <p>In Proceedings of the 17th International Digital Government Research Conference on Digital Government Research, 2016.</p>
                </div>
                <div class="extra">
                    <span class="ui label">conference</span><span class="ui label">2016</span>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">Quality assessment & evolution of open data portals</div>
                <div class="meta">
                    <span>Jürgen Umbrich, Sebastian Neumaier, and Axel Polleres</span>
                </div>
                <div class="description">
                    <p>In IEEE International Conference on Open and Big Data, Rome, Italy, August 2015.</p>
                </div>
                <div class="extra">
                    <span class="ui label">conference</span><span class="ui label">2015</span>
                </div>
            </div>
        </div>

        <div class="item">
            <i class="info icon"></i>
            <div class="content">
                <div class="header">Towards assessing the quality evolution of open data portals</div>
                <div class="meta">
                    <span>Jürgen Umbrich, Sebastian Neumaier, and Axel Polleres</span>
                </div>
                <div class="description">
                    <p>In ODQ2015: Open Data Quality: from Theory to Practice Workshop, Munich, Germany, March 2015</p>
                </div>
                <div class="extra">
                    <span class="ui label">workshop</span><span class="ui label">2015</span>
                </div>
            </div>
        </div>
    </div>

    <h2 class="ui header">Team & Contribution</h2>

    <h4 class="ui header">Team</h4>
    <div class="ui relaxed list">
        <div class="item">
            <i class="large user middle aligned icon"></i>
            <div class="content">
                <a href="https://www.wu.ac.at/en/infobiz/team/umbrich/" class="header">Jürgen Umbrich</a>

            </div>
        </div>
        <div class="item">
            <i class="large user middle aligned icon"></i>
            <div class="content">
                <a href="https://www.wu.ac.at/en/infobiz/team/neumaier/" class="header">Sebastian Neumaier</a>
            </div>
        </div>
    </div>


    <h4 class="ui header">Contributions</h4>

    <div class="ui relaxed list">
        <div class="item">
            <i class="large user middle aligned icon"></i>
            <div class="content">
                <div class="header">Daniel Huber</div>
                <div class="description">Contribution to the development of the UI</div>
            </div>
        </div>
        <div class="item">
            <i class="large user middle aligned icon"></i>
            <div class="content">
                <div href="" class="header">Matthias Blaim</div>
                <div class="description">Investigation of heuristics to identify and map licenses (part of a bachelor thesis)</div>
            </div>
        </div>
    </div>

    <h2 class="ui header">Contact</h2>
    <p>Please feel free to contact us directly at <span class="ui label">contact (at) data.wu.ac.at</span>.
    </p>

</div>
{% endblock %}