{% extends "odpw_layout.jinja" %}

{% set active_page = "about" -%}
{% block content %}
<div class="ui  container">
    <h2 class="ui header">Open Data Portal Watch</h2>
    <div class="container ui">
    The <b>Open Data Portal Monitor</b> is a quality assessment and evolution monitoring framework for the Austrian Open Data portals <a href="https://www.data.gv.at/">data.gv.at</a> and <a href="https://www.opendataportal.at/">opendataportal.at</a>.
    </div>
    
</div>
{% endblock %}