{% extends "odpw_layout.jinja" %}


{% block content %}
<div class="ui  container">
    <h2 class="ui divider horizontal header">Open Data Portal Watch</h2>
    <div class="container ui">
    The <b>Open Data Portal Watch framework</b> is a scalable quality assessment and evolution monitoring framework for Open Data (Web) portals.
    We harvest the metadata of around 260 Web catalogues and perform a quality assessment of the metadata along 6 dimensions and 19 metrics.
    </div>
    <h2 class="ui divider horizontal header">Available Content</h2>

    <div class="ui three column cards">

            <a href="{{url_for('ui.qualitymetrics')}}" class="ui fluid card statsCard">
                <div class="content">
                    <div class="header">
                        Quality Metrics
                    </div>
                    <div class="meta">
                        6 Dimensions
                        19 Metrics
                    </div>
                    <div class="description">
                        More infroamtion about our quality dimensions and metrics.
                    </div>
                </div>
            </a>

            <a href="{{url_for('ui.portalslist')}}" class="ui fluid card statsCard">
                <div class="content">
                    <div class="header">
                        Portals List
                    </div>
                    <div class="meta">
                        261 registered Portals
                    </div>
                    <div class="description">
                        Basic information such as the country, software and the number of datasets.
                    </div>
                </div>
            </a>

            <a href="{{url_for('ui.system')}}" class="ui fluid card statsCard">
                <div class="content">
                    <div class="header">
                        System Information
                    </div>
                    <div class="meta">
                        Fetch process statistics
                    </div>
                    <div class="description">
                        Some insights into the underlying system
                    </div>
                </div>
            </a>

        <a href="{{url_for('ui.portaldash')}}" class="ui fluid card statsCard">
            <div class="content">
                <div class="header">
                    Portal Dashboard
                </div>
                <div class="meta">
                    Properties and quality for a portal
                </div>
                <div class="description">
                    Different properties and the quality assessment metrics
                </div>
            </div>
        </a>

        <a href="{{url_for('ui.api')}}" class="ui fluid card statsCard">
            <div class="content">
                <div class="header">
                    API
                </div>
                <div class="meta">
                    RESTful API
                </div>
                <div class="description">
                    Documentation of the RESTful ODPW API
                </div>
            </div>
        </a>

        <a href="" class="ui fluid card statsCard">
            <div class="content">
                <div class="header">
                    Data dumps
                </div>
                <div class="meta">
                    Metadata dumps
                </div>
                <div class="description">
                    We provide all collected metadata for each portal and snapshot.
                </div>
            </div>
        </a>


    </div>
</div>
{% endblock %}