{% extends "odpw_portal_layout.jinja" %}
{% set active_sub_page = "ui.portalRes" -%}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.semanticui.min.css">
{% endblock %}
{% block headscripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.semanticui.min.js"></script>


    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.semanticui.min.js"></script>

    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.1/js/buttons.html5.min.js"></script>



    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>


{% endblock %}

{% macro resourceTable(data) -%}
<div id="test">
<h3 class="ui header">HTTP HEADER REPORT</h3>
</div>
<table class="ui celled table" id="resources" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>URI</th>
      <th>Info</th>
      <th>status</th>
      <th>last checked</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <th>URI</th>
      <th>Info</th>
      <th>status</th>
      <th>last checked</th>
    </tr>
  </tfoot>
</table>
{%- endmacro %}


{% block portalcontent %}

<!-- How many resources -->
    <div class="ui container centered ">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                  {{ data.resources }}
                </div>
                <div class="label">
                  unique Resources
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                  {% if  data.resourcesInfo.valid[true] %}
                    {{ data.resourcesInfo.valid[true] }}
                   {% else %}
                    0
                    {% endif %}
                </div>
                <div class="label">
                  valid URLs
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {% if  data.resourcesInfo.status.200 %}
                        {{ data.resourcesInfo.status.200 }}
                    {% else %}
                        0
                    {% endif %}
                    /{{ data.resourcesInfo.status.items()|sum(attribute="1")}}
                </div>
                <div class="label">
                  HTTP 200 OK
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        {{ resourceTable()}}
    </div>

{% endblock %}

{% block script %}
    {{ super() }}
    snapshot={{ snapshot|safe }}
    portalid="{{ portalid|safe }}"
    url="http://localhost:5123/api/portal/"+portalid+"/"+snapshot+"/resources"
    console.log(url)


    $(document).ready(function() {
        var data = [];

        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            success: function(j) { data = j;},
            async: false
        });
        console.log(data)
        var trHTML = '';

        $.each(data, function (i, item) {
            trHTML += '<tr><td><a href="' + data[i].uri + '">'+data[i].uri+'</td>'

            u='{{url_for("ui.resourceInfo", portalid=portalid, snapshot=snapshot, uri=ru)}}'
            u +=''+data[i].uri
            trHTML += '<td>' +'<a href="'+u+'" class="ui button"><i class="line chart icon"></i></a></td>'

            if( data[i].status != 200){
                trHTML += '<td>' + data[i].exc + '</td>';
            }else{
                trHTML += '<td>' + data[i].status + '</td>';
            }

            trHTML += '<td>' + data[i].timestamp + '</td></tr>';
        });
        console.log(trHTML)

        $('#resources tbody').append(trHTML);
        var table = $('#resources').DataTable(
        {
            dom: 'lfrBtip',
            lengthChange: false,
            buttons: [ 'csv', 'excel', 'pdf' ]
        });
        table.buttons().container()
            .appendTo( $('#test', table.table().container()) );
    })

 {% endblock %}