
{% macro resourceTable() -%}
<div id="test">
<h3 class="ui header">HTTP HEADER REPORT</h3>
</div>

<div>
<h5 class="ui header">HTTP Status Codes</h5>
    <div class="ui bulleted list">
      <div class="item"><b>200</b> OK</div>
      <div class="item"><b>403</b> Forbidden: The user might not have the necessary permissions</div>
      <div class="item"><b>404</b> Not Found: The requested resource could not be found</div>
      <div class="item"><b>606</b> ADEQUATe Error: Error code defined by ADEQUATe for any errors during the crawling process, e.g., if the host address could not be resolved.</div>
      <div class="item"></div>
    </div>
    <p>Find a full list of the standard HTTP status codes on <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">Wikipedia</a>.</p>
</div>

<div>
    <div class="ui compact button " id="showAll" tabindex="0">
        <i class="info icon"></i> Show all {{ data.resourcesInfo.status.items()|sum(attribute="1")}} resources
    </div>
    {% if  data.resourcesInfo.status.200 and (data.resourcesInfo.status.items()|sum(attribute="1")-data.resourcesInfo.status.200)>0 %}
        <div class="ui compact button"  id="show200" tabindex="0">
            Show {{ data.resourcesInfo.status.200 }} available resources
        </div>
    {% endif %}
    {% if  data.resourcesInfo.status.404 %}
        <div class="ui compact button" id="show404" tabindex="0">
            Show {{ data.resourcesInfo.status.404 }} non-available resources
        </div>
    {% endif %}

    {% if data.resourcesInfo.status.200 and data.resourcesInfo.status.404 and (data.resourcesInfo.status.items()|sum(attribute="1")-data.resourcesInfo.status.200)>0 %}
        <div class="ui compact button" id="showErrors" tabindex="0">
            Show {{ (data.resourcesInfo.status.items()|sum(attribute="1")-data.resourcesInfo.status.200-data.resourcesInfo.status.404) }} resources with other errors
        </div>
    {% endif %}
</div>


<div class="ui relaxed divided list" id="uris">
    {% for res in data.resList %}
    <div class="item">

          {% if res.uri.status > 400  and res.uri.status < 600  %}
                <i class="large minus square middle aligned red icon"></i>
            {% elif res.uri.status==200 %}
                <i class="large check square middle aligned green icon"></i>
            {% else %}
                <i class="large minus square middle aligned orange icon"></i>
            {% endif %}

        <div class="content">
            <div class="header">
                <a target="_blank" href="{{res.uri.uri}}">{{res.uri.uri|truncate(100, True)}} <i class="external alternate icon"></i></a>
            </div>
            <div class="meta">
                <div class="ui small
                     {% if res.uri.status > 400 and res.uri.status < 600 %}
                        red
                    {% elif res.uri.status==200 %}
                        green
                    {% else %}
                        orange
                    {% endif %}
                     basic label">
                    status
                    <div class="detail status">{{res.uri.status}}</div>
                </div>
                <div class="ui basic label">checked at {{res.uri.timestamp.strftime('%Y-%m-%d %H:%M')}}</div>
                {% if res.uri.status!=200 %}
                    <div class="ui basic label">exception: {{res.uri.exc}}</div>
                {% endif %}
                <a target="_blank" href="{{res.dataset.uri}}" class="ui smaller label">{{res.dataset.title|truncate(50, True)}} <i class="external alternate icon"></i></a>

                <a target="_blank" href="{{url_for("ui.resourceInfo", portalid=portalid, snapshot=snapshot, uri=res.uri.uri)}}" class="ui smaller label">
                    <i class="area chart icon">History</i>
                </a>
            </div>
        </div>
    </div>
  {% endfor %}
</div>

{%- endmacro %}




<!-- How many resources -->
    <div class="ui container centered ">
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                  {{ data.resources }}
                </div>
                <div class="label">
                  unique Resources
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                  {% if data.resourcesInfo.valid[true] %}
                    {{ data.resourcesInfo.valid[true] }}
                   {% else %}
                    0
                    {% endif %}
                </div>
                <div class="label">
                  valid URLs
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {% if  data.resourcesInfo.status.200 %}
                        {{ data.resourcesInfo.status.200 }}
                    {% else %}
                        0
                    {% endif %}
                    /{{ data.resourcesInfo.status.items()|sum(attribute="1")}}
                </div>
                <div class="label">
                  HTTP 200 OK
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        {{ resourceTable()}}
    </div>


