{% extends "odpw_portal_layout.jinja" %}

{% set active_sub_page = "ui.resourceInfo" -%}

{% block headcss %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.semanticui.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.semanticui.min.css">
{% endblock %}
{% block headscripts %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}



{% block portalcontent %}
    <div class="ui padded centered fifteen wide column ">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Resource:
                    {% if uri %}
                        {{uri}}
                    {% else %}
                        Please select
                    {% endif %}

                    <div class="ui left pointing scrolling dropdown icon">
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="ui left search icon input">
                                <i class="search icon"></i>
                                <input type="text" name="search" placeholder="Search resources...">
                            </div>
                            <div class="header">
                                <i class="tags icon"></i>
                                Dataset
                            </div>
                            {% for r in data.resources%}
                            <div  class="item">
                                <a href="{{url_for(active_sub_page, portalid=portalid, snapshot=snapshot, uri=r.uri)}}">
                                    {{r.uri}}
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>


            </div>
            <div class="content">
                <div class="description">
                    <h3 class="ui header"> {{data['resourceInfo']| length}} Version(s)</h3>

                    <div class="ui container">
                        <div class="ui divided items">
                            {% for r in data['resourceInfo'] %}
                                <div class="item">
                                    <div class="content">
                                        {% if 'status' in r and r.status==200 %}
                                            <div class="ui label green ribbon"><i class="heartbeat icon"></i>HTTP {{r.status}}</div>
                                        {% elif 'status' in r %}
                                           <div class="ui label red ribbon">HTTP {{r.status|int}}</div>
                                        {% else %}
                                           <div class="ui label ribbon">No HTTP information</div>
                                        {% endif %}
                                        <div class="header">inspected at: {{r.timestamp}}</div>
                                        {% if r.exc %}
                                            <div class="meta">{{r.exc}}</div>
                                        {% endif %}
                                        {% if 'header' in r %}
                                            <div class="description">
                                                HTTP Response Header: <pre class="prettyprint" id="{{r.uri}}" style="max-height:200px;min-height:50px;width:800px">{{r.header}}</pre>
                                            </div>


                                            <div class="extra">
                                                <div class="ui label">{{r.size}} bytes</div>
                                                <div class="ui label">{{r.mime}}</div>

                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ super() }}

    {% if data.json %}
        data={{ data.json|tojson }}
        document.getElementById("json").innerHTML = JSON.stringify(data, undefined, 2);
    {% endif %}

    function toJson(el, data){
        data={{ data|tojson }}
        document.getElementById(el).innerHTML = JSON.stringify(data, undefined, 2);
    }

     $(document).ready(function() {



        {% for r in data['resourceInfo'] %}
           {% if 'header' in r %}
                he= {{r.header|tojson}}
                document.getElementById("{{r.uri}}").innerHTML = JSON.stringify(he, undefined, 2);

           {% endif %}
        {% endfor %}

        $('.json').each(function(){
            $(this).text(JSON.stringify($(this).text(), undefined, 2));
        })

    })
 {% endblock %}